# Datasets for Mapping

In [1]:
import pandas as pd


## [ABCEats Restaurant Data](https://a816-health.nyc.gov/ABCEatsRestaurants/#/Search) 

Downloaded dataset from [NYC Open Data](https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/43nn-pn8j).

In [2]:
df = pd.read_csv('datasets/DOHMH_New_York_City_Restaurant_Inspection_Results.csv')

In [3]:
df.shape

(400238, 26)

In [4]:
# df.info

In [35]:
df.head(1)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,40735273,EL PARAISO BAR & RESTAURANT,Queens,99-10,37 AVENUE,11368.0,9173097766,"Latin (Cuban, Dominican, Puerto Rican, South &...",07/13/2019,Violations were cited in the following area(s).,...,06/23/2020,Cycle Inspection / Re-inspection,40.7523,-73.867993,403.0,21.0,40700.0,4043958.0,4.017620e+09,QN26

In [6]:
df.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA'],
      dtype='object')

In [43]:
# df['CUISINE DESCRIPTION']
lst = df['CUISINE DESCRIPTION'].value_counts()
lst[:10]

American                                                            83270
Chinese                                                             42266
Café/Coffee/Tea                                                     19832
Latin (Cuban, Dominican, Puerto Rican, South & Central American)    17597
Pizza                                                               17387
Mexican                                                             16665
Italian                                                             16222
Caribbean                                                           14499
Japanese                                                            14419
Spanish                                                             12450
Name: CUISINE DESCRIPTION, dtype: int64

### Chinese_2020

'Chinese', 'Chinese/Japanese', 'Chinese/Cuban'

In [8]:
Chinese_2020 = df['CUISINE DESCRIPTION'] == ('Chinese' or 'Chinese/Japanese' or 'Chinese/Cuban')
CH2020 = df.loc[Chinese_2020, ['DBA','BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'Latitude', 'Longitude']]
CH2020.head(1)

,DBA,BORO,BUILDING,STREET,ZIPCODE,Latitude,Longitude
2,NEW WONG RESTAURANT,Manhattan,103,EAST BROADWAY,10002.0,40.713784,-73.993283

In [9]:
CH2020.to_csv(r'Chinese_2020.csv', index = False)

### French_2020

In [10]:
French_2020 = df['CUISINE DESCRIPTION'] == 'French'
FR2020 = df.loc[French_2020, ['DBA','BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'Latitude', 'Longitude']]
FR2020.to_csv(r'French_2020.csv', index = False)

### Russian_2020

In [11]:
Russian_2020 = df['CUISINE DESCRIPTION'] == 'Russian'
RS2020 = df.loc[Russian_2020, ['DBA','BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'Latitude', 'Longitude']]
RS2020.to_csv(r'Russian_2020.csv', index = False)

### Italian_2020

In [12]:
Italian_2020 = df['CUISINE DESCRIPTION'] == 'Italian'
IT2020 = df.loc[Italian_2020, ['DBA','BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'Latitude', 'Longitude']]
IT2020.to_csv(r'Italian_2020.csv', index = False)

### Spanish_2020

'Spanish', 'Tapas'

In [13]:
Spanish_2020 = df['CUISINE DESCRIPTION'] == ('Spanish' or 'Tapas')
SP2020 = df.loc[Spanish_2020, ['DBA','BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'Latitude', 'Longitude']]
SP2020.to_csv(r'Spanish_2020.csv', index = False)

### Jewish_2020

'Jewish/Kosher'

In [14]:
Jewish_2020 = (df['CUISINE DESCRIPTION'] == 'Jewish/Kosher') 
JW2020 = df.loc[Jewish_2020, ['DBA','BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'Latitude', 'Longitude']]
JW2020.to_csv(r'Jewish_2020.csv', index = False)

### German_2020

'Delicatessen', 'German'

In [15]:
German_2020 = df['CUISINE DESCRIPTION'] == ('Delicatessen' or 'German') 
GM2020 = df.loc[German_2020, ['DBA','BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'Latitude', 'Longitude']]
GM2020.to_csv(r'German_2020.csv', index = False)

### Irish_2020

In [16]:
Irish_2020 = df['CUISINE DESCRIPTION'] == 'Irish'
IR2020 = df.loc[Irish_2020, ['DBA','BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'Latitude', 'Longitude']]
IR2020.to_csv(r'Irish_2020.csv', index = False)

### Polish_2020

In [17]:
Polish_2020 = df['CUISINE DESCRIPTION'] == 'Polish'
PL2020 = df.loc[Polish_2020, ['DBA','BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'Latitude', 'Longitude']]
PL2020.to_csv(r'Polish_2020.csv', index = False)

Other category of food that didn't exist at the time 

### Culture food
- 'American'
- 'Indian'
- 'Thai'
- 'Mediterranean'
- 'Middle Eastern'
- 'Greek'
- 'Vietnamese/Cambodian/Malaysia'
- 'African'
- 'Turkish'
- 'Bangladeshi'
- 'Filipino'
- 'Pakistani'
- 'Hawaiian'
- 'Continental'
- 'Brazilian'
- 'Australian'

### Category food
- 'Café/Coffee/Tea'
- **'Pizza'** -- Italian?
- 'Bakery'
- 'Donuts'
- 'Juice, Smoothies, Fruit Salads'
- 'Hamburgers'
- 'Sandwiches'
- 'Seafood'
- 'Ice Cream, Gelato, Yogurt, Ices'
- 'Sandwiches/Salads/Mixed Buffet'
- **'Bagels/Pretzels'** -- Bagels are Jewish and Pretzels and German?
- 'Vegetarian'
- 'Steak'
- 'Bottled beverages, including water, sodas, juices, etc.'
- 'Soul Food'
- 'Salads'
- 'Barbecue'
- 'Soups & Sandwiches'
- 'Creole'

## [2019 Abdala Nationality_Gender_1898TrowBus "March 26 Plotting" sheet](https://docs.google.com/spreadsheets/d/1D154NR_0JElKssEAw4Y2RmUzwkSxR533DrDC46pU2uU/edit#gid=572697680)

Google Sheet from shared drive downloaded as csv file.

In [18]:
df2 = pd.read_csv('datasets/2019 Abdala Nationality_Gender_1898TrowBus - March 26 Plotting.csv')

In [19]:
df2.head(1)

,Year,PG,ID,ID2,CAT_ORG,CAT_MOD,FULL,Position,Nation,Name,...,Arrival / I Record,CORNER,Address2,ST combi,ST Name,ST Name 2,ST Name 3,ST Name 4,ST Name 5,ST Name 6
0,1898_TrowBusMan,951,75,1898_TrowBusMan_75,Restaurants (Marked thus + are oyster saloons.),Restaurant,Abbott Charles W. 548 W 39th,18,NaN,Abbott Charles W,...,NaN,N,548,W 39th,W,39th,NaN,NaN,NaN,NaN

In [20]:
df2.columns

Index(['Year', 'PG', 'ID', 'ID2', 'CAT_ORG', 'CAT_MOD', 'FULL', 'Position',
       'Nation', 'Name', 'Addy_Clean', 'Address',
       'Nationality - Katherine Vote', 'Nationality - Zehra Vote',
       'Nationality - Jessica', 'Nationality Final', 'Gender - Katherine Vote',
       'Gender - Zehra Vote', 'Gender - Jessica', 'Gender - Final', 'Notes',
       'Arrival / I Record', 'CORNER', 'Address2', 'ST combi', 'ST Name',
       'ST Name 2', 'ST Name 3', 'ST Name 4', 'ST Name 5', 'ST Name 6'],
      dtype='object')

In [21]:
lst2 = df2['Nationality Final'].value_counts()
lst2[:10]

German      717
English     481
Irish       161
Italian     121
Jewish       82
French       58
Scottish     32
Dutch        29
Russian      17
Spanish      15
Name: Nationality Final, dtype: int64

### German_1898

'German', 'German/Austrian', 'Austrian/German', 'German, Austrian, Czech?', 'Gernan', 'German, Prussian'

In [22]:
German_1898 = df2['Nationality Final'] == ('German' or 'German/Austrian' 
                                           or 'Austrian/German' or 'German, Austrian, Czech?' 
                                           or 'Gernan' or 'German, Prussian') 
GM1898 = df2.loc[German_1898, ['Name', 'Address', 'Nationality Final']]
GM1898.to_csv(r'German_1898.csv', index = False)

### Italian_1898

In [23]:
Italian_1898 = df2['Nationality Final'] == 'Italian'
IT1898 = df2.loc[Italian_1898, ['Name', 'Address', 'Nationality Final']]
IT1898.to_csv(r'Italian_1898.csv', index = False)

### Jewish_1898

'Jewish', 'Jewish, German', 'Jewish, Russian'

In [24]:
Jewish_1898 = df2['Nationality Final'] == ('Jewish' or 'Jewish, German' or 'Jewish, Russian') 
JW1898 = df2.loc[Jewish_1898, ['Name', 'Address', 'Nationality Final']]
JW1898.to_csv(r'Jewish_1898.csv', index = False)

### French_1898

In [25]:
French_1898 = df2['Nationality Final'] == 'French'
FR1898 = df2.loc[French_1898, ['Name', 'Address', 'Nationality Final']]
FR1898.to_csv(r'French_1898.csv', index = False)

### Russian_1898

'Russian', 'Russian/Romanian'

In [26]:
Russian_1898 = df2['Nationality Final'] == ('Russian' or 'Russian/Romanian') 
RS1898 = df2.loc[Russian_1898, ['Name', 'Address', 'Nationality Final']]
RS1898.to_csv(r'Russian_1898.csv', index = False)

### Spanish_1898

In [28]:
Spanish_1898 = df2['Nationality Final'] == 'Spanish'
SP1898 = df2.loc[Spanish_1898, ['Name', 'Address', 'Nationality Final']]
SP1898.to_csv(r'Spanish_1898.csv', index = False)

### Chinese_1898

In [30]:
Chinese_1898 = df2['Nationality Final'] == 'Chinese'
CH1898 = df2.loc[Chinese_1898, ['Name', 'Address', 'Nationality Final']]
CH1898.to_csv(r'Chinese_1898.csv', index = False)

### Irish_1898

In [31]:
Irish_1898 = df2['Nationality Final'] == 'Irish'
IR1898 = df2.loc[Irish_1898, ['Name', 'Address', 'Nationality Final']]
IR1898.to_csv(r'Irish_1898.csv', index = False)

### Polish_1898

In [32]:
Polish_1898 = df2['Nationality Final'] == 'Polish'
PL1898 = df2.loc[Polish_1898, ['Name', 'Address', 'Nationality Final']]
PL1898.to_csv(r'Polish_1898.csv', index = False)

## [2019 Abdala National and Gender 1913 Trow sheet](https://docs.google.com/spreadsheets/d/1-PhdqRmy7AfbV-Je6vziABKruAOivNFRMPrvwGsM7ro/edit#gid=89465283)

Google Sheet from shared drive downloaded as csv file.

In [48]:
df3 = pd.read_csv('datasets/1913 - 1913 Trows Bus Dir Man EXCERPT .csv')

In [49]:
df3.head(1)

,Year,PG,ID,ID2,CAT_ORG,FULL,Position,Nation,Name,NATIONALITY,...,Addy_Clean,Address,CORNER,ST combi,ST Name,ST Name 2,ST Name 3,ST Name 4,ST Name 5,ST Name 6
0,1913_TrowBusMan,904,33,1913_TrowBusMan_33,Restaurants,"Albanian Roumanian Co, 261 W37th",23,NaN,Albanian Roumanian Co,Albanian,...,261 W 37th,261 W37th,N,W 37th,261,W37th,NaN,NaN,NaN,NaN

In [50]:
df3.columns

Index(['Year', 'PG', 'ID', 'ID2', 'CAT_ORG', 'FULL', 'Position', 'Nation',
       'Name', 'NATIONALITY', 'NATIONALITY final', 'GENDER', 'Unnamed: 12',
       'Addy_Clean', 'Address', 'CORNER', 'ST combi', 'ST Name', 'ST Name 2',
       'ST Name 3', 'ST Name 4', 'ST Name 5', 'ST Name 6'],
      dtype='object')

In [55]:
lst3 = df3['NATIONALITY final'].value_counts()
lst3[:10]

German     882
Jewish     669
British    632
Unknown    373
Italian    354
Greek      172
French      95
Polish      85
Irish       73
Chinese     63
Name: NATIONALITY final, dtype: int64

### German_1913

In [58]:
German_1913 = df3['NATIONALITY final'] == ('German' or 'german')
GM1913 = df3.loc[German_1913, ['Name', 'Address', 'NATIONALITY final']]
GM1913.to_csv(r'German_1913.csv', index = False)

### Italian_1913

In [60]:
Italian_1913 = df3['NATIONALITY final'] == 'Italian'
IT1913 = df3.loc[Italian_1913, ['Name', 'Address', 'NATIONALITY final']]
IT1913.to_csv(r'Italian_1913.csv', index = False)

### Jewish_1913

In [61]:
Jewish_1913 = df3['NATIONALITY final'] == 'Jewish'
JW1913 = df3.loc[Jewish_1913, ['Name', 'Address', 'NATIONALITY final']]
JW1913.to_csv(r'Jewish_1913.csv', index = False)

### French_1913

In [62]:
French_1913 = df3['NATIONALITY final'] == 'French'
FR1913 = df3.loc[French_1913, ['Name', 'Address', 'NATIONALITY final']]
FR1913.to_csv(r'French_1913.csv', index = False)

### Russian_1913

In [63]:
Russian_1913 = df3['NATIONALITY final'] == 'Russian' 
RS1913 = df3.loc[Russian_1913, ['Name', 'Address', 'NATIONALITY final']]
RS1913.to_csv(r'Russian_1913.csv', index = False)

### Spanish_1913

In [64]:
Spanish_1913 = df3['NATIONALITY final'] == 'Spanish'
SP1913 = df3.loc[Spanish_1913, ['Name', 'Address', 'NATIONALITY final']]
SP1913.to_csv(r'Spanish_1913.csv', index = False)

### Chinese_1913

In [65]:
Chinese_1913 = df3['NATIONALITY final'] == 'Chinese'
CH1913 = df3.loc[Chinese_1913, ['Name', 'Address', 'NATIONALITY final']]
CH1913.to_csv(r'Chinese_1913.csv', index = False)

### Irish_1913

In [66]:
Irish_1913 = df3['NATIONALITY final'] == 'Irish'
IR1913 = df3.loc[Irish_1913, ['Name', 'Address', 'NATIONALITY final']]
IR1913.to_csv(r'Irish_1913.csv', index = False)

### Polish_1913

In [67]:
Polish_1913 = df3['NATIONALITY final'] == 'Polish'
PL1913 = df3.loc[Polish_1913, ['Name', 'Address', 'NATIONALITY final']]
PL1913.to_csv(r'Polish_1913.csv', index = False)