# 1913 Restaurant Data
Goal: Create a set of uniform code for cleaning up the street names and street numbers.

In [1]:
import pandas as pd

## Master

In [2]:
DF = pd.read_csv('datasets/1880_streets_full.csv')
DF.head(1)

,street_name,odd_on,avg_direction,building_num_range,start_end_coordinates,segment_length,segment_direction,building_num_range_length,avg_length_per_building,direction_deviation,road_type,offset_from_road_center
0,10th Avenue,left,-170.561731,"[1, 19]","[[40.741073, -74.009227], [40.739952, -74.0094...",126.194091,-170.561731,19,6.641794,0.0,Avenue,10

In [3]:
DF['street_name'].value_counts()

10th Avenue       164
8th Avenue        148
5th Avenue        129
2nd Avenue        129
3rd Avenue        126
                 ...
Strikers Lane       1
Hague Street        1
Minetta Place       1
Pier 15             1
Hancock Street      1
Name: street_name, Length: 666, dtype: int64

In [4]:
master_list = list(dict(DF['street_name'].value_counts()).keys())
#sorted(master_list)

## 1913

In [5]:
df = pd.read_csv('datasets/1913TrowBus.csv')
df.head(1)

,Year,PG,ID,ID2,CAT_ORG,FULL,Position,Nation,Name,NATIONALITY,...,Addy_Clean,Address,CORNER,ST combi,ST Name,ST Name 2,ST Name 3,ST Name 4,ST Name 5,ST Name 6
0,1913_TrowBusMan,904,33,1913_TrowBusMan_33,Restaurants,"Albanian Roumanian Co, 261 W37th",23,NaN,Albanian Roumanian Co,Albanian,...,261 W 37th,261 W37th,N,W 37th,261,W37th,NaN,NaN,NaN,NaN

In [6]:
df.shape

(5419, 23)

In [7]:
df.columns

Index(['Year', 'PG', 'ID', 'ID2', 'CAT_ORG', 'FULL', 'Position', 'Nation',
       'Name', 'NATIONALITY', 'NATIONALITY final', 'GENDER', 'Unnamed: 12',
       'Addy_Clean', 'Address', 'CORNER', 'ST combi', 'ST Name', 'ST Name 2',
       'ST Name 3', 'ST Name 4', 'ST Name 5', 'ST Name 6'],
      dtype='object')

Get the columns I need.

In [8]:
df = df[['FULL', 'Name', 'Addy_Clean', 'ST combi']]
df.head()

,FULL,Name,Addy_Clean,ST combi
0,"Albanian Roumanian Co, 261 W37th",Albanian Roumanian Co,261 W 37th,W 37th
1,Garbade Emily D. 78 W Houston,Garbade Emily D,78 W Houston,W Houston
2,"Frese Ida L, 2 W33d",Frese Ida L,2 W 33rd,W 33rd
3,"Aram Ada. 1902, 7th av",Aram Ada,1902 7th av,7th av
4,"Cafe Safran, 265, 4th av",Cafe Safran,265 4th av,4th av

In [9]:
df.columns = ['full', 'name', 'address', 'street']
df.head(1)

,full,name,address,street
0,"Albanian Roumanian Co, 261 W37th",Albanian Roumanian Co,261 W 37th,W 37th

In [10]:
df['num'] = df['address'].str.split().str[0]
df.head()

,full,name,address,street,num
0,"Albanian Roumanian Co, 261 W37th",Albanian Roumanian Co,261 W 37th,W 37th,261
1,Garbade Emily D. 78 W Houston,Garbade Emily D,78 W Houston,W Houston,78
2,"Frese Ida L, 2 W33d",Frese Ida L,2 W 33rd,W 33rd,2
3,"Aram Ada. 1902, 7th av",Aram Ada,1902 7th av,7th av,1902
4,"Cafe Safran, 265, 4th av",Cafe Safran,265 4th av,4th av,265

### Street

### systematic cleaning

#### strip unnecessary white spaces

In [11]:
df['street_clean'] = df['street'].str.strip()
df.head(1)

,full,name,address,street,num,street_clean
0,"Albanian Roumanian Co, 261 W37th",Albanian Roumanian Co,261 W 37th,W 37th,261,W 37th

Inspect `street_clean` data.

In [12]:
st = dict(df['street_clean'].value_counts())
#sorted(st.items())

#### add "street" after "E xxth" or "W xxth"

In [13]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x+' Street' if x.startswith('E ') | x.startswith('W ') else x)
df.head(1)

,full,name,address,street,num,street_clean
0,"Albanian Roumanian Co, 261 W37th",Albanian Roumanian Co,261 W 37th,W 37th,261,W 37th Street

In [14]:
st = dict(df['street_clean'].value_counts())
#sorted(st.items())

#### replace abbreviation with full names.

In [15]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x.replace(' st', ' Street') if x.endswith(' st') else x)

In [16]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x.replace(' St', ' Street') if x.endswith(' St') else x)

In [17]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x.replace(' av', ' Avenue') if x.endswith(' av') else x)

In [18]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x.replace(' pl', ' Place') if x.endswith(' pl') else x)

In [19]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x.replace(' mkt', ' Market') if x.endswith(' mkt') else x)

In [20]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x.replace(' ln', ' Lane') if x.endswith(' ln') else x)

In [21]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x.replace(' sq', ' Square') if x.endswith(' sq') else x)

In [22]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x.replace(' slip', ' Slip') if x.endswith(' slip') else x)

In [23]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x.replace(' sl', ' Slip') if x.endswith(' sl') else x)

In [24]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x.replace(' pkway', ' Parkway') if x.endswith(' pkway') else x)

In [25]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x.replace(' rd', ' Road') if x.endswith(' rd') else x)

In [26]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x.replace(' pk', ' Park') if x.endswith(' pk') else x)

In [27]:
st = dict(df['street_clean'].value_counts())
#sorted(st.items())

#### add "street" to all the ones with only one word

In [28]:
df['street_clean'] = df['street_clean'].apply(
    lambda x: x+' Street' if len(x.split())==1 else x)

In [29]:
st = dict(df['street_clean'].value_counts())
#sorted(st.items())

### cross check results

In [30]:
streets_list = list(dict(df['street_clean'].value_counts()).keys())
streets_list[:5]

['3rd Avenue', 'Broadway Street', '8th Avenue', '2nd Avenue', '6th Avenue']

In [31]:
for street in streets_list:
    if street not in master_list:
        print(street)

Broadway Street
Amsterdam Avenue
Columbus Avenue
E Houston Street
Lenox Avenue
E Broadway Street
Ave A
Park row
Westchester Avenue
Willis Avenue
W Broadway Street
Ave C
Ave B
6th Street
3rd Street
5th Street
E 138th Street
W Houston Street
St Mark's Place
2nd Street
Ave D
Prospect Avenue
Lafayette Street
Boston Road
St Nicholas Avenue
Webster Avenue
Macdougal Street
7th Street
Brook Avenue
E Tremont av Street
E 149th Street
S Boulevard
Morris Avenue
Cathedral Parkway
Courtlandt Avenue
Cooper sq E
1st Street
Washington Avenue
Union sq E
Columbus Circle
Marginal Street
Wendover Avenue
Washington Market
Kenmare Street
E Fordham rd Street
City Id Avenue
E 169th Street
St Ann's Avenue
Manhattan Avenue
Melrose Avenue
Jerome Avenue
White Plains Road
Gt Jones
Villa Avenue
W 8th Street
Washington sq S
E 180th Street
Central pk W
Arthur Avenue
E 102nd Street
E End av Street
E 187th Street
Wilkins Avenue
Little W12th
E 163rd Street
Tremont Avenue
Chatham Square
Fulton Market
Freeman Street
E 151st Street
E 174th Street
Hamilton Place
Westchester Square
Forest Avenue
New Chambers
Pleasant Avenue
N Moore
Morningside drive
Trinity Place
123rd Street
Bergen Avenue
S William
E 148th Street
W 18st Street
Hughes Avenue
Catherine Market
Newell Avenue
E 165th Street
Washington sq W
Alex Avenue
E 158th Street
Hanover Square
Riverside drive
Fox Street
E 100th Street
Ditmars City Id
Edgecombe Avenue
Morris pk Avenue
Bathgate Avenue
Bible h
W End Av Street
Cypress Avenue
E 150th Street
Belmont Avenue
Waverley Place
E 137th Street
Ogden Avenue
E 161st Street
Longwood Avenue
E 183rd Street
Lexington Street
Clay Avenue
E 143rd Street
Claremont Avenue
Harlem Market
E 160th Street
Thompson Avenue
Union Avenue
Central pk S
Macomb's Road
W 22th Street
E 155th Street
Washington sq E
Burling Street
Central Station
Home Street
E 101st Street

### manual cleaning

In [32]:
STREET = {
    # unmatched
    # 123rd Street
    # W 8th Street
    # W 22th Street
    # W 18st Street
    # E 100th Street
    # E 101st Street
    # E 102nd Street
    # E 137th Street
    # E 138th Street
    # E 143rd Street
    # E 148th Street
    # E 149th Street
    # E 150th Street
    # E 151st Street
    # E 155th Street
    # E 158th Street
    # E 160th Street
    # E 161st Street
    # E 163rd Street
    # E 165th Street
    # E 169th Street
    # E 174th Street
    # E 180th Street
    # E 183rd Street
    # E 187th Street
    
    # street added wrongly
    '1st Street': '1st Avenue',
    '2nd Street': '2nd Avenue',
    '3 Avenue': '3rd Avenue',
    'c 3rd Avenue': '3rd Avenue',
    '3rd Street': '3rd Avenue',
    '5th Street': '5th Avenue',
    '6th Street': '6th Avenue',
    '7th Street': '7th Avenue',
    '8th Street': '8th Avenue',
    '8d Avenue': '8th Avenue',
    '9th Street': '9th Avenue',
    'Broadway Street': 'Broadway',
    
    # direction order
    'W Broadway Street': 'Broadway W',
    'E Broadway Street': 'Broadway E',
    'W Houston Street': 'Houston Street W',
    'E Houston Street': 'Houston Street E',
    'N Moore': 'Moore Street N',
    'S William': 'William Street S',
    'N William': 'William Street N',
    'Union sq E': 'Union Square E',
    'Little W 12th': 'W 12th Street',
    'E 145th Street': 'E 145th Street',
    
    # title case
    'Park row': 'Park Row',
    'James slip': 'James Slip',
    'Old slip': 'Old Slip',
    'Catherine slip': 'Catherine Slip',
    'Peck slip'
    
    # order
    'Av A': 'A Avenue',
    'Ave A': 'A Avenue',
    'Av B': 'B Avenue',
    'Ave B': 'B Avenue',
    'Av C': 'C Avenue',
    'Ave C': 'C Avenue',
    'av c W': 'C Avenue',
    'Av D': 'D Avenue',
    'Ave D': 'D Avenue',
    'av n E': 'East Avenue',
    'av n W': 'West Avenue',
    'W End av Street': 'West Avenue',
    'W End Av Street': 'West Avenue',
    
    # same name
    'Centre Market': 'Centre Market Place',
    'Clinton Market': 'Clinton Place',
    'Chatham Square': 'Chatham Street',
    'Catherine Market': 'Catherine Street',
    'Fulton Market': 'Fulton Street',
    'Grand st Circle': 'Grand Street',
    'Jefferson Market': 'Jefferson Street',
    'Stone William': 'Stone Street',
    'Tompkins Market': 'Tompkins Street',
    'Washington Market': 'Washington Place',
    'Hanover Square': 'Hanover Street',
    'New Chambers': 'New Chambers Street',
    'Thompson Avenue': 'Thompson Street',
    'Union Avenue': 'Union Square',
    'Lexington Street': 'Lexington Avenue',
    'Morris pk Avenue': 'Morris Street',
    
    # different spelling
    'Macdougal Street': 'Mac Dougal Street',
    'St Mark’s Place': 'Saint Marks Place',
    'St Mark\'s Place': 'Saint Marks Place',
    'VandeWater Street': 'Vandewater Street',
    'Riverside drive': 'Riverside Driveway',
    'Newell Avenue': 'New Avenue',
    'Washington sq E': 'Washington Square E',
    'Washington sq W': 'Washington Square W',
    'Washington sq S': 'Washington Square S',
    'Waverley Place': 'Waverly Place',
    'Hamilton Place': 'Hamilton Street',
    'Morris Avenue': 'Morris Street',
    'Courtlandt Avenue': 'Courtlandt Street',
    'Lafayette Street': 'Lafayette Place',
    'Boston Road': 'Bolton Road',
    'Washington Avenue': 'Washington Street',
    'Burling Street': 'Burling Slip'
    
    
    # unmatched avenues
    # Alex Avenue
    # Amsterdam Avenue
    # Lincoln Avenue
    # Tremont Avenue
    # Brook Avenue
    # Willis Avenue
    # Columbus Avenue
    # Bergen Avenue
    # Hughes Avenue
    # Claremont Avenue
    # Clay Avenue
    # Bathgate Avenue
    # Forest Avenue
    # Pleasant Avenue
    # Cypress Avenue
    # Edgecombe Avenue
    # Ogden Avenue
    # Longwood Avenue
    # Belmont Avenue
    # Villa Avenue
    # Arthur Avenue
    # Wilkins Avenue
    # Tremont Avenue
    # Jerome Avenue
    # Lenox Avenue
    # Westchester Avenue
    # Prospect Avenue
    # St Nicholas Avenue
    # Webster Avenue
    # Wendover Avenue
    # City Id Avenue
    # Melrose Avenue
    # Manhattan Avenue
    # St Ann's Avenue
    # Jerome Avenue
    
    # unmatched
    # Trinity Place
    # Bible h
    # Home Street
    # Columbus Circle
    # Central pk W
    # E End av Street
    # Little W12th
    # Gt Jones
    # Westchester Square
    # Freeman Street
    # Central pk S
    # Harlem Market
    # Trinity Place
    # Ditmars City Id
    # Central Station
    # Morningside drive
    # Fox Street
    # Macomb's Road
    # Cathedral Parkway
    # Cooper sq E
    # S Boulevard
    # E Tremont av Street
    # Marginal Street
    # Kenmare Street
    # E Fordham rd Street
    # White Plains Road
}

In [33]:
df = df.replace({'street_clean': STREET})
df.head(1)

,full,name,address,street,num,street_clean
0,"Albanian Roumanian Co, 261 W37th",Albanian Roumanian Co,261 W 37th,W 37th,261,W 37th Street

In [34]:
streets_list = list(dict(df['street_clean'].value_counts()).keys())
streets_list[:5]

['3rd Avenue', 'Broadway', '8th Avenue', '2nd Avenue', '6th Avenue']

### cross check results

In [35]:
for street in streets_list:
    if street not in master_list:
        print(street)

Amsterdam Avenue
Columbus Avenue
Lenox Avenue
Broadway E
Westchester Avenue
Willis Avenue
Broadway W
E 138th Street
Prospect Avenue
St Nicholas Avenue
Webster Avenue
Brook Avenue
Cathedral Parkway
S Boulevard
E 149th Street
E Tremont av Street
Cooper sq E
Courtlandt Street
Columbus Circle
Marginal Street
Kenmare Street
City Id Avenue
E Fordham rd Street
Wendover Avenue
Melrose Avenue
E 169th Street
Manhattan Avenue
St Ann's Avenue
White Plains Road
Jerome Avenue
Villa Avenue
Washington Square S
E 187th Street
W 8th Street
Gt Jones
E 163rd Street
E 102nd Street
Arthur Avenue
Central pk W
Wilkins Avenue
Little W12th
E 180th Street
E End av Street
Tremont Avenue
E 174th Street
Westchester Square
Pleasant Avenue
E 151st Street
Freeman Street
Forest Avenue
Harlem Market
E 183rd Street
Bathgate Avenue
Alex Avenue
E 100th Street
Trinity Place
E 148th Street
E 160th Street
E 155th Street
West Avenue
Central Station
Ogden Avenue
Bergen Avenue
E 137th Street
E 158th Street
Edgecombe Avenue
123rd Street
Longwood Avenue
Home Street
Claremont Avenue
Cypress Avenue
Fox Street
Morningside drive
Macomb's Road
E 150th Street
Belmont Avenue
Hughes Avenue
E 143rd Street
W 18st Street
E 165th Street
W 22th Street
Central pk S
Ditmars City Id
E 101st Street
Clay Avenue
E 161st Street
Bible h

### House Number

In [55]:
df['num_clean'] = df['num']
df.head(1)

,full,name,address,street,num,street_clean,num_clean
0,"Albanian Roumanian Co, 261 W37th",Albanian Roumanian Co,261 W 37th,W 37th,261,W 37th Street,261

In [40]:
no = dict(df['num_clean'].value_counts())
#sorted(no.items())

In [56]:
df['num_clean'] = df['num_clean'].apply(
    lambda x: x.replace('Grand', '0') if str(x).endswith('Grand') else x)

In [58]:
df['num_clean'] = df['num_clean'].apply(
    lambda x: x.replace('d', '') if str(x).endswith('d') else x)

In [59]:
df['num_clean'] = df['num_clean'].dropna().astype(str).astype(float).astype(int)

In [60]:
df.to_csv('cleaned/1913_address_CLEANED.csv')