# Using API to get nationality

Account: ycl461+4@nyu.edu

In [1]:
import json
import pandas as pd
import numpy as np
import urllib
from pandas.io.json import json_normalize
from collections import Counter

In [2]:
TrowBus1913 = pd.read_csv('1913TrowBus_nationalityAPI.csv', encoding='latin_1')
TrowBus1913.head(1)

,Year,PG,ID,ID2,CAT_ORG,FULL,Position,Nation,Name,NATIONALITY,...,ST Name,ST Name 2,ST Name 3,ST Name 4,ST Name 5,ST Name 6,First,Last,country1_api,country2_api
0,1913_TrowBusMan,904,33,1913_TrowBusMan_33,Restaurants,"Albanian Roumanian Co, 261 W37th",23,NaN,Albanian Roumanian Co,Albanian,...,261,W37th,NaN,NaN,NaN,NaN,Roumanian,Albanian,Romania,Iran

In [ ]:
country_df = []
for i in range(1500,1999):
    first = TrowBus1913['First'][i]
    last = TrowBus1913['Last'][i]
    result = !curl -X GET "https://v2.namsor.com/NamSorAPIv2/api2/json/origin/{first}/{last}" -H "accept: application/json" -H "X-API-KEY: fbeeb9ce36bee0728d3a577e10b06dc4"
    country_df.append(result[-1])

In [ ]:
country1 = []
country2 = []

for each in country_df:
    try:
        gen = each.split(',')[3].split(':')[1].strip('"')
        prob = each.split(',')[4].split(':')[1].strip('"')
    except:
        gen = 'error'
    
    country1.append(gen)
    country2.append(prob)

In [ ]:
TrowBus1913['country1_api'][1000:1499] = np.array(country1[1000:1499])
TrowBus1913['country2_api'][1000:1499] = np.array(country2[1000:1499])

In [ ]:
TrowBus1913.head(1)

In [ ]:
Counter(country1)

In [ ]:
Counter(country2)

In [ ]:
TrowBus1913 = TrowBus1913.replace({'country2_api': 
                                   {'RO':'Romania', 'IL':'Israel', 'NE':'Niger', 'IE':'Ireland',
                                    'AM':'Armenia','CH':'Switzerland','DE': 'Germany', 'CN': 'China',
                                    'ET':'Ethiopia', 'FR':'France','DK': 'Denmark', 'SE': 'Sweden', 
                                    'GB':'United Kingdom', 'IT':'Italy', 'AT':'Austria', 'NO':'Norway',
                                    'ZA':'South Africa', 'ES':'Spain', 'JP':'Japan', 'GH':'Ghana',
                                    'NL':'Netherlands', 'CZ':'Czechia', 'HK':'Hong Kong', 'KR':'South Korea',
                                    'VN':'Vietnam', 'TW':'Taiwan', 'MY':'Malaysia', 'MM':'Myanmar',
                                    'GR':'Greece', 'TR':'Turkey', 'KH':'Cambodia', 'PL':'Poland', 
                                    'BE':'Belgium', 'KE':'Kenya', 'LR':'Liberia', 'NG':'Nigeria', 
                                    'RU':'Russia', 'ID':'Indonesia', 'BJ': 'Benin', 'CI': 'Côte d\'Ivoire',
                                    'PK':'Pakistan', 'SK': 'Slovakia', 'ZW': 'Zimbabwe', 'PT': 'Portugal',
                                    'LB':'Lebanon', 'UG':'Uganda', 'EG':'Egypt', 'HU':'Hungary', 'IR':'Iran', 
                                    'MA':'Morocco', 'LV':'Latvia', 'CM':'Cameroon', 'TZ':'Tanzia'}})
TrowBus1913.head()

In [ ]:
#TrowBus1913.to_csv(r'1913TrowBus_nationalityAPI.csv', index = False)