# 1898 Restaurant Data
Goal: Create a set of uniform code for cleaning up the street names and street numbers.

In [1]:
import pandas as pd

## Master

In [2]:
DF = pd.read_csv('datasets/1880_streets_full.csv')
DF.head(1)

,street_name,odd_on,avg_direction,building_num_range,start_end_coordinates,segment_length,segment_direction,building_num_range_length,avg_length_per_building,direction_deviation,road_type,offset_from_road_center
0,10th Avenue,left,-170.561731,"[1, 19]","[[40.741073, -74.009227], [40.739952, -74.0094...",126.194091,-170.561731,19,6.641794,0.0,Avenue,10

In [3]:
DF['street_name'].value_counts()

10th Avenue        164
8th Avenue         148
5th Avenue         129
2nd Avenue         129
3rd Avenue         126
                  ...
Randalls Island      1
Varick Place         1
Hamilton Street      1
Hague Street         1
Gay Street           1
Name: street_name, Length: 666, dtype: int64

In [4]:
master_list = list(dict(DF['street_name'].value_counts()).keys())
master_list[:5]

['10th Avenue', '8th Avenue', '5th Avenue', '2nd Avenue', '3rd Avenue']

## Ward 3

In [5]:
df = pd.read_csv('datasets/1910_New York_Manhattan Ward 3.csv')
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Number of Weeks Out of Work,Can Read,Can Write,Attended School,Own or Rent,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,Deaf and Dumb
0,4449800_00259,18496912,Wm H Gee,18496912,Cortland St,41,1.0,1,Gee,Head,...,0,Yes,Yes,NaN,Rent,NaN,House,NaN,NaN,NaN

### Street

Create a new column called `street_clean` than is a duplicate of current `Street Name`.

"I would like that to be done in a new variable column, so that we preserve the original data."

In [6]:
df['street_clean'] = df['Street Name']
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Can Read,Can Write,Attended School,Own or Rent,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,Deaf and Dumb,street_clean
0,4449800_00259,18496912,Wm H Gee,18496912,Cortland St,41,1.0,1,Gee,Head,...,Yes,Yes,NaN,Rent,NaN,House,NaN,NaN,NaN,Cortland St

Clean `street_clean` data.

In [7]:
st = dict(df['street_clean'].value_counts())
#sorted(st.items())

Basic Clean: change "st" to "street" or add "street"

In [18]:
STREET = {
    'Barclay St': 'Barclay Street',
    
    'Bway': 'Broadway',
    
    'Chambers St': 'Chambers Street',
    'chambers street': 'Chambers Street',
    
    'Church St': 'Church Street',
    
    'Cortandt St': 'Cortlandt Street',
    'Cortland St': 'Cortlandt Street',
    'Cortlandt': 'Cortlandt Street',
    'Cortlandt St': 'Cortlandt Street',
    
    'Dey': 'Dey Street',
    'Dey St': 'Dey Street',

    'Fulton': 'Fulton Street',
    'Fulton St': 'Fulton Street',
    
    'Greenwich': 'Greenwich Street',
    'Greenwich St': 'Greenwich Street',
    
    'Liberty St': 'Liberty Street',
    
    'Murray St': 'Murray Street',
    
    'Reade St': 'Reade Street',
    
    'Vesey': 'Vesey Street',
    'Vesey St': 'Vesey Street',
    
    'Warren': 'Warren Street',
    'Warren St': 'Warren Street',
    
    'Wash': 'Washington Street',
    'Wash St': 'Washington Street',
    'Washington St': 'Washington Street',

    'West St': 'West Street'
}

In [19]:
df = df.replace({'street_clean': STREET})
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Can Read,Can Write,Attended School,Own or Rent,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,Deaf and Dumb,street_clean
0,4449800_00259,18496912,Wm H Gee,18496912,Cortland St,41,1.0,1,Gee,Head,...,Yes,Yes,NaN,Rent,NaN,House,NaN,NaN,NaN,Cortlandt Street

In [20]:
streets_list = list(dict(df['street_clean'].value_counts()).keys())
streets_list[:5]

['Greenwich Street',
 'Washington Street',
 'West Street',
 'Vesey Street',
 'Broadway']

### Cross check results

After basic clean, check `street_clean` results with master list and revise `STREET` dict.

In [21]:
for street in streets_list:
    if street not in master_list:
        print(street)

### NO RESULTS WERE PRINTED MEANING ALL STREETS WERE CLEANED!!!

### House Number

I suddenly have a feeling that is `'2.0'` '2' or '20'?

In [22]:
df['num_clean'] = df['House Number']
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Can Write,Attended School,Own or Rent,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,Deaf and Dumb,street_clean,num_clean
0,4449800_00259,18496912,Wm H Gee,18496912,Cortland St,41,1.0,1,Gee,Head,...,Yes,NaN,Rent,NaN,House,NaN,NaN,NaN,Cortlandt Street,41

In [23]:
no = dict(df['num_clean'].value_counts())
#sorted(no.items())

In [24]:
NUMBER = {
    '1-2': 1,
    '125 to 131': 125,
    '2-01': 2, # ?
}

In [25]:
df = df.replace({'num_clean': NUMBER})
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Can Write,Attended School,Own or Rent,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,Deaf and Dumb,street_clean,num_clean
0,4449800_00259,18496912,Wm H Gee,18496912,Cortland St,41,1.0,1,Gee,Head,...,Yes,NaN,Rent,NaN,House,NaN,NaN,NaN,Cortlandt Street,41

geocoding with `qGIS`'s `MMQGIS` requires four columns: `Address`, `City`, `State`, `Country`

In [26]:
df['Address'] = df['num_clean'].astype(str) + ' ' + df['street_clean']
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Attended School,Own or Rent,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,Deaf and Dumb,street_clean,num_clean,Address
0,4449800_00259,18496912,Wm H Gee,18496912,Cortland St,41,1.0,1,Gee,Head,...,NaN,Rent,NaN,House,NaN,NaN,NaN,Cortlandt Street,41,41 Cortlandt Street

In [27]:
df['City'] = 'New York City'
df['State'] = 'New York'
df['Country'] = 'United States'
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,Deaf and Dumb,street_clean,num_clean,Address,City,State,Country
0,4449800_00259,18496912,Wm H Gee,18496912,Cortland St,41,1.0,1,Gee,Head,...,House,NaN,NaN,NaN,Cortlandt Street,41,41 Cortlandt Street,New York City,New York,United States

In [28]:
df.to_csv('cleaned/ward3_1910_CLEANED.csv')