# 1898 Restaurant Data
Goal: Create a set of uniform code for cleaning up the street names and street numbers.

In [1]:
import pandas as pd
import re

## Master

In [2]:
DF = pd.read_csv('datasets/1880_streets_full.csv')
DF.head(1)

,street_name,odd_on,avg_direction,building_num_range,start_end_coordinates,segment_length,segment_direction,building_num_range_length,avg_length_per_building,direction_deviation,road_type,offset_from_road_center
0,10th Avenue,left,-170.561731,"[1, 19]","[[40.741073, -74.009227], [40.739952, -74.0094...",126.194091,-170.561731,19,6.641794,0.0,Avenue,10

In [3]:
master_list = list(dict(DF['street_name'].value_counts()).keys())
#sorted(master_list)

## 1898

In [24]:
df = pd.read_csv('datasets/1870_1033_NamePrismResults.csv', error_bad_lines=False, encoding='latin-1')
df['NO']= df['ADDY'].str.extract(r'(^\d*)')
df['STREET']=df['ADDY'].str.extract(r'((?<=\s).*)')
df.head()

,YR,DIR,PG,TYPE,NAME,ADDY,BOROUGH,CITY,STATE,HOUSENO,...,first_name,census_match_full_2,census_match_2,census_match_2p,NamePrismResponse,NamePrismFirstClass,NamePrismSecondClass,NamePrismThirdClass,NO,STREET
0,1920,Phillip's,1186.0,NaN,Lutes Restaurant Inc.,51 W 14 St.,NaN,New York,New York,51,...,Restaurant,NaN,NaN,NaN,"{'European,SouthSlavs': 0.013008041942021492, ...","European,French","European,German","European,Italian,Romania",51,W 14 St.
1,1920,Phillip's,1186.0,NaN,Lux J. B.,4 Union Square,NaN,New York,New York,4,...,J.,NaN,NaN,NaN,"{'European,SouthSlavs': 0.06783373707463733, '...","Hispanic,Spanish","European,German","European,SouthSlavs",4,Union Square
2,1920,Phillip's,1186.0,NaN,McCormick M. J.,475 4 Ave.,NaN,New York,New York,475,...,M.,NaN,NaN,NaN,"{'European,SouthSlavs': 0.020820721133716837, ...",CelticEnglish,"Hispanic,Spanish","Nordic,Finland",475,4 Ave.
3,1920,Phillip's,1186.0,NaN,McDonald E. H.,380 W 125 St.,NaN,New York,New York,380,...,E.,NaN,NaN,NaN,"{'European,SouthSlavs': 0.0011123199484532247,...",CelticEnglish,"African,WestAfrican","African,EastAfrican",380,W 125 St.
4,1920,Phillip's,1186.0,NaN,McKinley Square Casino,775 E 169 St.,NaN,New York,New York,775,...,Square,"Counter({'Ireland': 0.96, 'Italy': 0.45})",Ireland,0.96,"{'European,SouthSlavs': 8.69915275717278e-05, ...",CelticEnglish,"African,SouthAfrican","Hispanic,Philippines",775,E 169 St.

In [25]:
df['street_clean'] = df['STREET'].str.strip()

In [26]:
st = dict(df['STREET'].value_counts())
#sorted(st.items())

#### Fixing names

In [27]:
df['street_clean'].dropna(inplace=True)

In [28]:
df['street_clean'].replace(r'St.?$','Street',regex=True,inplace=True)
df['street_clean'].replace(r'Ave.','Avenue',regex=True,inplace=True)
df['street_clean'].replace(r'Ave$','Avenue',regex=True,inplace=True)
df['street_clean'].replace(r'Pl','Place',regex=True,inplace=True)
df['street_clean'].replace(r'Rd','Road',regex=True,inplace=True)
df['street_clean'].replace(r'^&\s','',regex=True,inplace=True)
df['street_clean'].replace(r'\s\s',' ',regex=True,inplace=True)
df['street_clean'].replace(r'W\.','W',regex=True,inplace=True)
df['street_clean'].replace(r'S\.','S',regex=True,inplace=True)
df['street_clean'].replace(r'N\.','N',regex=True,inplace=True)
df['street_clean'].replace(r'E\.','E',regex=True,inplace=True)
df['street_clean'].replace(r'Sreet','Street',regex=True,inplace=True)
df['street_clean'].replace(r'Sq(\.)?(?!\w)','Square',regex=True,inplace=True)
df['street_clean'].replace(r'Mkt(\.)?(?!\w)','Market',regex=True,inplace=True)
df['street_clean'].replace(r'^.*&\s*','',regex=True,inplace=True)
df['street_clean'].replace(r'\.$','',regex=True,inplace=True)


df['street_clean'].replace(r'E Houston Street','Houston Street E',regex=True,inplace=True)
df['street_clean'].replace(r'W Houston Street','Houston Street W',regex=True,inplace=True)
df['street_clean'].replace(r'S Houston Street','Houston Street S',regex=True,inplace=True)
df['street_clean'].replace(r'N Houston Street','Houston Street N',regex=True,inplace=True)

df['street_clean'].replace(r'^(W)(?=[A-Z|\d])','W ',regex=True,inplace=True)
df['street_clean'].replace(r'^(E)(?=[A-Z|\d])','E ',regex=True,inplace=True)
df['street_clean'].replace(r'^(S)(?=[A-Z|\d])','S ',regex=True,inplace=True)
df['street_clean'].replace(r'^(N)(?=[A-Z|\d])','N ',regex=True,inplace=True)




#for 1st ave
df['street_clean'].replace(r'(?<=\d)\s','th ',regex=True,inplace=True)
df['street_clean'].replace(r'(?<=\d)$','th Street ',regex=True,inplace=True)
df['street_clean'].replace(r'1th ','1st ',regex=True,inplace=True)
df['street_clean'].replace(r'2th ','2nd ',regex=True,inplace=True)
df['street_clean'].replace(r'3th ','3rd ',regex=True,inplace=True)

df['street_clean'].replace(r'11st ','11th ',regex=True,inplace=True)
df['street_clean'].replace(r'12nd ','12th ',regex=True,inplace=True)
df['street_clean'].replace(r'13rd ','13th ',regex=True,inplace=True)

In [29]:
st = dict(df['street_clean'].value_counts())
#sorted(st.items())

In [30]:
st = dict(df['street_clean'].value_counts())
#sorted(st.items())

### cross check results

In [31]:
streets_list = list(dict(df['street_clean'].value_counts()).keys())
streets_list[:5]

['Broadway', '3rd Avenue', '6th Avenue', '8th Avenue', '2nd Avenue']

In [32]:
for street in streets_list:
    if street not in master_list:

        print(street)

W Broadway
Columbus Avenue
E Broadway
Amsterdam Avenue
Maiden La
Lenox Avenue
Fulton Market
Avenueue A
Maiden Ln
Lafayette Street
Avenueue C
2nd Street
Avenueue B
6th Street
Broadway Street
St. Nicholas Avenue
3rd Street
Avenueue D
Washington Market
5th Street

Avenueue A Street
Park Row Street
St. Mark's Place
W 8th Street
Macdougal Street
Trinity Place
Willis Avenue
E 149th Street
1st Street
Coenties Sl
Avenueue B Street
N Moore Street
S William Street
Peck Sl
Avenueue A. Street
Webster Avenue
N William Street
Boston Road
Cooper Square
Chatham Square
7th Street
South Blvd
Avenueue C Street
Tompkins Market
E 138th Street
8th Street
Columbus Street
Clinton Market
Prospect Avenue
Avenueue B. Street
Hamilton Place
Catharine Street
James Sl
Lincoln Avenue
E Tremont Avenue
Maiden la
Jeff Street
Catherine Sl
E 102nd Street
Hanover Square
Cooper Square E
Washn Street
Avenueue C. Street
Westchester Avenue
E 135th Street
Catharine Sl
S Boulevard Street
Manhattan Avenue
Morris Avenue
Courtlandt Street
S Boulevard
Old Sl
Cathedral Pkway
Brook Avenue
Columbus Circle
St. Marks Place
E Union Square
E 148th Street
Lex Avenue
Little W 12th Street
Burling Sl
Amsterdamn Avenue
Lexington Street
E 169th Street
Wchester Avenue
W 125th Street
59th Street
Fordham Road
E 151st Street
Amsterdam Street
Corttlandt Street
Placeatt Street
Peck sl
Greenwich
Tremont Avenue
Beekmann Street
W End Avenue
Maiden Avenue
Jerome Avenue
126th Street
48th Street
Kenmare Street
Minetta La
W Broadway Street
41st Street
Tomp Market
Freeman Street
Washington Avenue
Coenties sl
E Fordham Road
Alexander Avenue
DOWN Formula by clicking down on right corner
E 23rd Street
Cath Street
E 125th Street
Worchester Avenue
JOhn Street
Avenueue D. Street
50th Street
Washington Square
W 42nd Street
242nd Street
Laf Place
Schiff Pkway
Broad
Pearl
Hughes Avenue
W 221st Street
West End Avenue
Depot Place
Canal
Market
41st Street
Alex Avenue
E 14th Street
Wilkins Avenue
Washn Square S
Cooper Square E Street
Church
Union Place
W 34th Street
Day Street
Hudson
10th Street
Grand Circle
116th Street
Claremont Avenue
26th Street
Cypress Avenue
William
Gt. Jones Street
illegibleÃ‚  Ã‚Â illegibleÃ‚
9th A
Baruch Place
Robinson Street
Pelham Avenue
Catherine Market
E 143rd Street
Union Street
HUdson Street
W 23rd Street
45th Street
E 180th Street
E Houston
Island
Centre Market
Central Concourse
Catharine Market
Avenueue D Street
Station
W 1255th Street
Varvick Street
39th n Broadway
Melrose Avenue
Pk opp E 82nd Street
W 158th Street
23rd Street
Temple Street
E 161st Street
b Placeatt Street
Harrison
Abingdon Street
Amsterdam
Bronx Pk
9th Street
28th Street
E 159th Street
4th Street
38th Street
Broadway and W 242nd Street
Frank Street
Greemwich Street
W 43-44th Street
W 6th Avenue
Ferry House
Dleancey Street
W 14th Street
Willet Street
Bleecker Avenue
Courtlandt
9th Mott Street
h
Dleancey
Worchester Square
E 11th Street
W 39th Street
Cathedral Pkway Circle
Boston rd
W, 127th Street
Park opposite E 65th Street
Dry Dock
10th ave. C W 161st Street
Washington Square S Street
Grand Circle Street
Jerome
E 4th Street
43rd Street
Old sl
N Monroe Street
Placeeasant Avenue
Nassau
Gt Jones Street
6th Street
Elton Avenue
E Street
54th Pine Street
Washn Market
Allen Blvd
W Webster Avenue
E 160th Street
S Williams Street
Castle Clinton
7th E R
Jefferson Market
E 141st Street
50th Street
W, Washington Market
Cooper Square W
Grand circle
W 162nd Street
Nassa Street
W 19th Street
Avenueue near W 14th Street
Chamber Street
End Avenue n W 59th Street
126th Street
Lafayette
E 181st Street
W 207th Street
AvenueWiliamsberg Bridge
W 40th Avenue
W 126th Street
66th Street
E Broady Street
S Pring Street
McDougal Street
Cenre Street
Union Square W
W 27th v
Beaver
Ann
Lenox Street
E 153rd Street
Stong Street
and 6th Pell Street
Couper Square E
Uniersity Place
Grand Cir
2nd 5th Avenue
138th n. Mott Avenue
33rd Street
Gansevoort n 13th Avenue
Greewich Street
Loew Avenue
W 40th Street
City Island Avenue
Laurens Street
Park opp E 65th Street
S Washington Square
Charton Street
Debrosses Street
W 44th Street
Park
E 73rd Street
E 99th Street
Pelham av. N Kingsbridge Road
Thames
Y. Zoo Park
259th William Street
E Houston Avenue
Crotona Avenue
10th ave. c W 186th Street
Trinity Place. Street
E 59th Street
Pk
Vessey Street
E Broadway Avenue
21st Avenue
av. C Webster Avenue
W 215th Street
Orchar Street
madison Avenue
145th Street
E 101st Street
Franklin Market
Sedgwick av. N Depot Place
W 181st Street
MISS
18th Avenue
S Blvd
172nd Street
park
Westchester sq
Jeff Market
Y. Park Zoo
E . 42nd Street
Columbia Avenue
Hancock Place
Bronx Pk Avenue
E 201st Street
Eldridge
N Ew Street
Schiff Parkway
Mereer Street
st. c 12th Avenue
n Naegle Avenue
Wendover Avenue
22nd Street
Fulton Market Street
Gorck Street
72nd University Place
ave. N W 15th Street
28th Street
E 100th Street
Boulevard n W 77th Street
W 22nd Street
St Marks Place
ave. c. W 24th Street
Fulton
W 28th Street
C.I. Street
Thompson AvenueW Washn Market
Claremont Pkwy
Custom h
Forest Avenue
St. Broadway
Little Street
maiden La
W 225th Street
Amseterdam Avenue
John
Cath sl
2678th Street
W 59th Street
14th Avenue
Amseterdamn Avenue
Broadwa
W Fordham
Morningside Avenue
Nicholas ave. c. 112th Street
Pk opp E 104th Street
C. H
8th ave. n W 155th Street
Bible Hill
135th Street
E 23rd d Street
Boston
86th Street
56th Street
Orcharg Street
University pl
Cooper Square E Avenue
Central Park South
House
Bible h
E 216th Street
Rutgers pl
Place. c. Sedgwick Avenue
Avenueue 32nd Street
Dey c West Street
Benson Street
Bloome Street
Cathedral Pkwy
South Boulevard
60th c Broadway
Woose Street
49th Street
71st Broad Street
Webster Street
avenue n W 131st Street
av. N Depot Place
Madiden Ln
W Farms Road
Beaver Avenue
E House Street
32nd E R
E 146th Street
W 60th Street
E 42nd Street
183rd Street
Westchester
Mt. Morris Avenue
E 187th Street
Harlen Market
St. Anns Avenue
W E Street
av. C. West W Washington Market
32nd Street
C H
Bleecker
11th Street
Pershing Square
E 181st Street
Cleveland Place
59th Street
Street
Cedar Avenue
S Williams
W 116th Street
Columbus A
E Houson Street
Centl Street
Cooper Street
Goerick Street
32-33rd Avenue
Nassan Street
Tryon Avenue
ave. c. W 111th Street
Exchange
Square
St. Nichoals Avenue
James sl
E 19th Street
Cath Sl
1566th Broadway Street
W 15th Street
W 15th Avenue
W End Street
Harlem Market
W 29th Street
34th Street
1/2nd Little W 12th Street
E 161st Street
E Broadway Street
Park opposite E 72nd Street
Arthur Avenue
W E Avenue
E 176th Street
W 18th Street
E 183rd Street
Courtlandt Avenue
Gourverneur Street
3rd A
Central Concourse Street
60th Street
Gouverneur Market
E 174th Street
44th Street

### manual cleaning

In [37]:
STREET = {
    # street added wrongly
    '1st Street': '1st Avenue',
    '2nd Street': '2nd Avenue',
    '3 Avenue': '3rd Avenue',
    'c 3rd Avenue': '3rd Avenue',
    '5th Street': '5th Avenue',
    '6th Street': '6th Avenue',
    '7th Street': '7th Avenue',
    '8th Street': '8th Avenue',
    '8d Avenue': '8th Avenue',
    '9th Street': '9th Avenue',
    'Broadway Street': 'Broadway',
    
    # direction order
    'W Broadway Street': 'Broadway W',
    'E Broadway Street': 'Broadway E',
    'W Houston Street': 'Houston Street W',
    'E Houston Street': 'Houston Street E',
    'N Moore': 'Moore Street N',
    'S William': 'William Street S',
    'N William': 'William Street N',
    'Union sq E': 'Union Square E',
    'Little W 12th': 'W 12th Street',
    'E 145th Street': 'E 145th Street',
    
    # title case
    'Park row': 'Park Row',
    'James slip': 'James Slip',
    'Old slip': 'Old Slip',
    'Catherine slip': 'Catherine Slip',
    'Peck slip'
    
    # order
    'Av A': 'A Avenue',
    'Av B': 'B Avenue',
    'Av C': 'C Avenue',
    'av c W': 'C Avenue',
    'Av D': 'D Avenue',
    'av n E': 'East Avenue',
    'av n W': 'West Avenue',
    'W End av Street': 'West Avenue',
    
    # same name
    'Centre Market': 'Centre Market Place',
    'Clinton Market': 'Clinton Place',
    'Chatham Square': 'Chatham Street',
    'Catherine Market': 'Catherine Street',
    'Fulton Market': 'Fulton Street',
    'Grand st Circle': 'Grand Street',
    'Jefferson Market': 'Jefferson Street',
    'Stone William': 'Stone Street',
    'Tompkins Market': 'Tompkins Street',
    'Washington Market': 'Washington Place',
    'Hanover Square': 'Hanover Street',
    'New Chambers': 'New Chambers Street',
    
    # different spelling
    'Macdougal Street': 'Mac Dougal Street',
    'St Markâ€™s Place': 'Saint Marks Place',
    'VandeWater Street': 'Vandewater Street',
    
    # unmatched
    # Amsterdam Avenue
    # Columbus Avenue
    # Trinity Place
    # Lincoln Avenue
    # Tremont Avenue
    # Brook Avenue
    # Willis Avenue
    # Bible h
    # Jerome Avenue
}

In [38]:
df = df.replace({'street_clean': STREET})
df.head(1)

,YR,DIR,PG,TYPE,NAME,ADDY,BOROUGH,CITY,STATE,HOUSENO,...,census_match_full_2,census_match_2,census_match_2p,NamePrismResponse,NamePrismFirstClass,NamePrismSecondClass,NamePrismThirdClass,NO,STREET,street_clean
0,1920,Phillip's,1186.0,NaN,Lutes Restaurant Inc.,51 W 14 St.,NaN,New York,New York,51,...,NaN,NaN,NaN,"{'European,SouthSlavs': 0.013008041942021492, ...","European,French","European,German","European,Italian,Romania",51,W 14 St.,W 14th Street

In [39]:
streets_list = list(dict(df['street_clean'].value_counts()).keys())
streets_list[:5]

['Broadway', '3rd Avenue', '6th Avenue', '8th Avenue', '2nd Avenue']

### cross check results

In [40]:
for street in streets_list:
    if street not in master_list:
        print(street)

W Broadway
Columbus Avenue
E Broadway
Amsterdam Avenue
Maiden La
Lenox Avenue
Avenueue A
Maiden Ln
Lafayette Street
Avenueue C
Avenueue B
St. Nicholas Avenue
3rd Street
Avenueue D

Park Row Street
Avenueue A Street
St. Mark's Place
W 8th Street
Trinity Place
Willis Avenue
E 149th Street
Avenueue B Street
N Moore Street
Coenties Sl
S William Street
Avenueue A. Street
Peck Sl
Webster Avenue
N William Street
Cooper Square
Boston Road
Avenueue C Street
E 138th Street
South Blvd
Prospect Avenue
Columbus Street
Avenueue B. Street
Hamilton Place
E Tremont Avenue
Cooper Square E
Avenueue C. Street
Maiden la
Lincoln Avenue
Jeff Street
Catherine Sl
James Sl
E 102nd Street
Washn Street
Catharine Street
Morris Avenue
Cathedral Pkway
Brook Avenue
Westchester Avenue
Old Sl
E 135th Street
Courtlandt Street
Manhattan Avenue
S Boulevard Street
S Boulevard
Catharine Sl
Lex Avenue
E Union Square
E 148th Street
St. Marks Place
Columbus Circle
Beekmann Street
W 125th Street
126th Street
Washington Avenue
Coenties sl
Amsterdam Street
Fordham Road
59th Street
Corttlandt Street
Peck sl
Kenmare Street
E 169th Street
Burling Sl
Broadway W
E 151st Street
Tomp Market
48th Street
Little W 12th Street
W End Avenue
Tremont Avenue
Minetta La
Wchester Avenue
Freeman Street
Placeatt Street
Maiden Avenue
Jerome Avenue
E Fordham Road
Lexington Street
41st Street
Amsterdamn Avenue
Greenwich
E 14th Street
Central Concourse
Broad
Laf Place
26th Street
Alexander Avenue
Worchester Avenue
Pelham Avenue
Pearl
10th Street
Cooper Square E Street
Union Street
HUdson Street
W 42nd Street
50th Street
Avenueue D. Street
JOhn Street
W 221st Street
Hudson
41st Street
116th Street
Union Place
Catharine Market
Grand Circle
E Houston
Cath Street
Washn Square S
West End Avenue
Hughes Avenue
Church
E 125th Street
E 23rd Street
242nd Street
DOWN Formula by clicking down on right corner
Washington Square
Market
Wilkins Avenue
Island
Cypress Avenue
Alex Avenue
William
45th Street
Canal
Claremont Avenue
Depot Place
E 143rd Street
Baruch Place
Gt. Jones Street
illegibleÃ‚  Ã‚Â illegibleÃ‚
W 23rd Street
Robinson Street
9th A
W 34th Street
E 180th Street
Day Street
Schiff Pkway
St. Anns Avenue
Couper Square E
Broadway and W 242nd Street
W 27th v
Grand Circle Street
66th Street
E 153rd Street
2nd 5th Avenue
Nassa Street
W 162nd Street
Grand circle
Abingdon Street
Uniersity Place
Mt. Morris Avenue
W E Street
End Avenue n W 59th Street
28th Street
AvenueWiliamsberg Bridge
W 43-44th Street
6th Street
11th Street
Bleecker
C H
Allen Blvd
32nd Street
W Webster Avenue
av. C. West W Washington Market
7th E R
W 44th Street
b Placeatt Street
Temple Street
E Broady Street
23rd Street
Grand Cir
E 160th Street
W 158th Street
N Monroe Street
Park
14th Avenue
Loew Avenue
Cenre Street
Courtlandt
Beaver
Gt Jones Street
Ferry House
Elton Avenue
and 6th Pell Street
W 14th Street
Bleecker Avenue
E 161st Street
Lenox Street
W 6th Avenue
h
Dleancey
54th Pine Street
W 40th Avenue
Castle Clinton
S Williams Street
38th Street
Park opp E 65th Street
E 99th Street
McDougal Street
Melrose Avenue
Harrison
Avenueue D Street
Ann
Boston rd
50th Street
Park opposite E 65th Street
Amsterdam
183rd Street
Dleancey Street
Pk opp E 82nd Street
E 42nd Street
E 146th Street
126th Street
Debrosses Street
Charton Street
E 4th Street
E 141st Street
32nd E R
S Washington Square
Stong Street
44th Street
Rutgers pl
E 176th Street
Cleveland Place
James sl
Exchange
Nassan Street
Centl Street
E Houson Street
Columbus A
W 116th Street
S Williams
W 15th Avenue
Gouverneur Market
Central Concourse Street
E 161st Street
Place. c. Sedgwick Avenue
1/2nd Little W 12th Street
W Farms Road
Madiden Ln
avenue n W 131st Street
Webster Street
South Boulevard
Benson Street
Dey c West Street
Bible h
Y. Park Zoo
E . 42nd Street
Hancock Place
86th Street
Boston
8th ave. n W 155th Street
Westchester
St Marks Place
C. H
Nicholas ave. c. 112th Street
W Fordham
E 100th Street
28th Street
72nd University Place
145th Street
Orchar Street
10th ave. c W 186th Street
Crotona Avenue
259th William Street
Pelham av. N Kingsbridge Road
MISS
Gorck Street
Wendover Avenue
n Naegle Avenue
st. c 12th Avenue
Mereer Street
Schiff Parkway
E 201st Street
Beaver Avenue
E House Street
Lafayette
W 19th Street
W, Washington Market
Cooper Square W
Chamber Street
E Street
Washn Market
Laurens Street
S Pring Street
Union Square W
Placeeasant Avenue
W, 127th Street
4th Street
Varvick Street
W 1255th Street
Frank Street
Greemwich Street
Jerome
Dry Dock
Old sl
9th Mott Street
Willet Street
39th n Broadway
Avenueue near W 14th Street
W 207th Street
E 187th Street
Pershing Square
18th Avenue
Harlen Market
W 60th Street
10th ave. C W 161st Street
Worchester Square
E 11th Street
W 39th Street
Washington Square S Street
43rd Street
Cathedral Pkway Circle
Station
Bronx Pk
E 159th Street
City Island Avenue
W 40th Street
Greewich Street
33rd Street
138th n. Mott Avenue
W 126th Street
Nassau
University pl
Boulevard n W 77th Street
E 174th Street
W 15th Street
Street
Cedar Avenue
Cooper Street
Goerick Street
32-33rd Avenue
Tryon Avenue
ave. c. W 111th Street
Square
St. Nichoals Avenue
E 19th Street
Cath Sl
1566th Broadway Street
House
172nd Street
park
Westchester sq
Jeff Market
Columbia Avenue
Bronx Pk Avenue
Eldridge
N Ew Street
W 18th Street
60th Street
22nd Street
3rd A
Avenueue 32nd Street
E 73rd Street
Bloome Street
Cathedral Pkwy
Broadway E
60th c Broadway
Woose Street
49th Street
71st Broad Street
av. N Depot Place
E 181st Street
E 216th Street
59th Street
Harlem Market
W 29th Street
34th Street
Park opposite E 72nd Street
Arthur Avenue
W E Avenue
W End Street
E 183rd Street
Courtlandt Avenue
Gourverneur Street
E 181st Street
Fulton Market Street
W 22nd Street
Cooper Square E Avenue
Central Park South
Amseterdamn Avenue
ave. c. W 24th Street
W 28th Street
C.I. Street
Thompson AvenueW Washn Market
Custom h
St. Broadway
maiden La
Amseterdam Avenue
John
Cath sl
W 59th Street
2678th Street
W 225th Street
Little Street
Forest Avenue
Claremont Pkwy
Fulton
Orcharg Street
S Blvd
56th Street
W 181st Street
Thames
Y. Zoo Park
E Houston Avenue
Trinity Place. Street
E 59th Street
Pk
Vessey Street
E Broadway Avenue
21st Avenue
W 215th Street
madison Avenue
E 101st Street
Franklin Market
Sedgwick av. N Depot Place
ave. N W 15th Street
Morningside Avenue
Gansevoort n 13th Avenue
Pk opp E 104th Street
Bible Hill
135th Street
E 23rd d Street
Broadwa
av. C Webster Avenue

### House Number

In [42]:
df['num_clean'] = df['NO']
df.head(1)

,YR,DIR,PG,TYPE,NAME,ADDY,BOROUGH,CITY,STATE,HOUSENO,...,census_match_2,census_match_2p,NamePrismResponse,NamePrismFirstClass,NamePrismSecondClass,NamePrismThirdClass,NO,STREET,street_clean,num_clean
0,1920,Phillip's,1186.0,NaN,Lutes Restaurant Inc.,51 W 14 St.,NaN,New York,New York,51,...,NaN,NaN,"{'European,SouthSlavs': 0.013008041942021492, ...","European,French","European,German","European,Italian,Romania",51,W 14 St.,W 14th Street,51

In [43]:
no = dict(df['num_clean'].value_counts())
#sorted(no.items())

In [44]:
df['num_clean'] = df['num_clean'].dropna().apply(
    lambda x: x.replace('th', '') if str(x).endswith('th') else x)

In [45]:
df['num_clean'] = df['num_clean'].dropna().apply(
    lambda x: x.replace('d', '') if str(x).endswith('d') else x)

In [46]:
df.to_csv('cleaned/1898_address_CLEANED.csv')