# Ancestry 1910 ward 9

Goal: Create a set of uniform code for cleaning up the street names and street numbers.

In [2]:
import pandas as pd

## Master

In [3]:
DF = pd.read_csv('datasets/1880_streets_full.csv')
DF.head(1)

,street_name,odd_on,avg_direction,building_num_range,start_end_coordinates,segment_length,segment_direction,building_num_range_length,avg_length_per_building,direction_deviation,road_type,offset_from_road_center
0,10th Avenue,left,-170.561731,"[1, 19]","[[40.741073, -74.009227], [40.739952, -74.0094...",126.194091,-170.561731,19,6.641794,0.0,Avenue,10

In [4]:
DF['street_name'].value_counts()

10th Avenue          164
8th Avenue           148
2nd Avenue           129
5th Avenue           129
3rd Avenue           126
                    ...
Hall Place             1
East River  N          1
W 177th Street         1
Blackwells  S          1
Birmingham Street      1
Name: street_name, Length: 666, dtype: int64

In [5]:
master_list = list(dict(DF['street_name'].value_counts()).keys())
master_list[:5]

['10th Avenue', '8th Avenue', '2nd Avenue', '5th Avenue', '3rd Avenue']

### Ward 9

In [6]:
df = pd.read_csv('datasets/1910_New York_Manhattan Ward 9.csv')
df.head(1)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (6,7,21,22,37) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Out of Work on April 15,Number of Weeks Out of Work,Can Read,Can Write,Attended School,Own or Rent,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind
0,31776_4449715-00931,18527185,Mamie Rodgers,18527185,Barrow St,51,4,24,Rodgers,Wife,...,NaN,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN

### Street

Create a new column called `street_clean` than is a duplicate of current `Street Name`.

"I would like that to be done in a new variable column, so that we preserve the original data."

In [7]:
df['street_clean'] = df['Street Name']
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Number of Weeks Out of Work,Can Read,Can Write,Attended School,Own or Rent,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,street_clean
0,31776_4449715-00931,18527185,Mamie Rodgers,18527185,Barrow St,51,4,24,Rodgers,Wife,...,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN,Barrow St

Clean `street_clean` data.

In [8]:
st = dict(df['street_clean'].value_counts())
#sorted(st.items())

Basic Clean: change "st" to "street" or add "street"

In [9]:
STREET = {    
    '1 Horatio St': 'Horatio Street',
    
    '13 Street': '13th Street',
    '13th Street': '13th Street',
    '13th Washington Street': '13th Washington Street',
    
    '14th Street': '14th Street',
    '15th Stoat': '15th Street',
    
    # '18 W 21 Ws 10'
    # '18 W St W 10'
    # '18 West 12 Th'
    # '1st W St Ns 10'
    # '78 St Ns 10'
    
    '4 Ave': '4th Avenue',
    '8 Ave': '8th Avenue',
    '8 St Ave': '8th Avenue',
    '8th Avenue': '8th Avenue',
    
    # '5 Rest Raeth'
    # '507 Wart Street
    # '73'
    # '80'
    
    '(Abrigador Jonar) Or': 'Abingdon Square',
    'Abrigador Jonans Or': 'Abingdon Square',
    
    # ?
    # 'Abandon'
    'Abbeville St': 'Abbeville Street',
    'Aextte Ave': 'Aextte Avenue',
    'Almwich St': 'Almwich Street',
    'Averly Pl': 'Averly Place',
    
    'Abingdon Oa': 'Abingdon Square',
    'Abingdon Pa': 'Abingdon Square',
    'Abingdon Sq': 'Abingdon Square',
    'Abingdon Squre': 'Abingdon Square',
    
    'Ac 10 St': '10th Street',
    'Al 10 St': '10th Street',
    'At 10 St': '10th Street',
    'At 10th St': '10th Street',
    
    # ?
    # 'B Cusker Street'
    'Baade Street': 'Baade Street',
    'Babtish st': 'Baptish Street',
    'Bach St': 'Bachler Street',
    'Bachler Street': 'Bachler Street',
    'Ballow Street': 'Ballow Street',
    
    'Bancker': 'Bank Street',
    'Bank St': 'Bank Street',
    'Banty': 'Bank Street',
    
    'Baford Street': 'Bedford Street',
    'Baford St': 'Bedford Street',
    'Barford': 'Bedford Street',
    'Basford Street': 'Bedford Street',
    'Beadford Street': 'Bedford Street',
    'Bedford': 'Bedford Street',
    'Bedford Store': 'Bedford Street',
    'Bedford St': 'Bedford Street',
    'Bidford St': 'Bedford Street',
    'Bodford Street': 'Bedford Street',
    'Braford Street': 'Bedford Street',
    'Buford Street': 'Bedford Street',
    'Dedford Street': 'Bedford Street',
    'Marford St': 'Bedford Street',
    
    # 'Baraboo'
    'Barith Ave': 'B Avenue',
    # 'Barra Co'
    # 'Baump Street'
    
    'Barree St': 'Barrow Street',
    'Barrier St': 'Barrow Street',
    'Barron St': 'Barrow Street',
    'Barrons Street': 'Barrow Street',
    'Barrow': 'Barrow Street',
    'Barrow St': 'Barrow Street',
    'Berry St': 'Barrow Street',
    
    'Beaver St': 'Beaver Street',
    'Beaber Street': 'Beaver Street',
    'Beaverst Pl': 'Beaver Street',
    
    # ?
    'Belsome St': 'Benson Street',
    'Blasius St': 'Blasius Street',
    'Blucher St': 'Blucher Street',
    'Butcher St': 'Butcher Street',
    
    'Bethanne Street': 'Bethune Street',
    'Bethele Street': 'Bethune Street',
    'Bethume St': 'Bethune Street',
    'Bethume Street': 'Bethune Street',
    'Bethune St': 'Bethune Street',

    'Black House': 'Bleecker Street',
    'Blacks Street': 'Bleecker Street',
    'Blacker': 'Bleecker Street',
    'Blacker Street': 'Bleecker Street',
    'Blaker St': 'Bleecker Street',
    'Blocker St': 'Bleecker Street',
    'Besecker Street': 'Bleecker Street',
    'Blecker': 'Bleecker Street',
    'Blecker St': 'Bleecker Street',
    'Blecker Street': 'Bleecker Street',
    'Bleecker St': 'Bleecker Street',
    'Bleeker': 'Bleecker Street',
    'Bleeker St': 'Bleecker Street',
    'Bleeker Street': 'Bleecker Street',
    'Bleeter': 'Bleecker Street',
    
    'Car West 11th St': '11th Street',
    
    'Caine St': 'Carmine Street',
    'Camelia': 'Carmine Street',
    'Cananea Street': 'Carmine Street',
    'Cannine St': 'Carmine Street',
    'Cannine Street': 'Carmine Street',
    'Carmane': 'Carmine Street',
    'Carmina Street': 'Carmine Street',
    'Carmine': 'Carmine Street',
    'Carmine St': 'Carmine Street',
    'Carnine Street': 'Carmine Street',
    'Caracaras Street': 'Carmine Street',
    'Cares Street': 'Carmine Street',
    'Carnmore Street': 'Carmine Street',
    
    'Castex St': 'Castle Street',
    # 'Chaddington Street'
    # 'Chalco Street'
    # 'Charhela Street'
    
    'Chamber St': 'Chambers Street',
    'Charbane St': 'Chambers Street',
    'Charbon Street': 'Chambers Street',
    
    'Chales st': 'Charles Street',
    'Chaputines Street': 'Charles Street',
    'Charlan Street': 'Charles Street',
    'Charle Street': 'Charles Street',
    'Charles': 'Charles Street',
    'Charles Str': 'Charles Street',
    'Charles St': 'Charles Street',
    'Charles street': 'Charles Street',
    'Charlos St': 'Charles Street',
    'charles street': 'Charles Street',
    
    'Chrestopker Street': 'Christopher Street',
    'Chriss St': 'Christopher Street',
    'Christoper': 'Christopher Street',
    'Christoper Street': 'Christopher Street',
    'Christophe St': 'Christopher Street',
    'Christophe Street': 'Christopher Street',
    'Christopher': 'Christopher Street',
    'Christopher St': 'Christopher Street',
    'Christopher st': 'Christopher Street',
    'Christorpher St': 'Christopher Street',
    
    'Church St': 'Church Street',
    
    # ?
    # 'Chus Apline'
    # 'Cindrich Ave'
    # 'Clackum'
    # 'Clakow St'
    # 'Cloudrest street'
    # 'Cna St'
    # 'Comber'
    # 'Comeau'
    # 'Corkum'
    #'Coursey St'
    # 'Crownmill Street'
    
    # ?
    # 'Claims Topher Street'
    # 'Clavis Topher Street'

    'Clarkes': 'Clarke Street',
    'Clarkson': 'Clarkson Street',
    'Clarkson St': 'Clarkson Street',

    'Commece St': 'Commerce Street',
    'Commerce Str': 'Commerce Street',
    'Commerce St': 'Commerce Street',
    'Commererce St': 'Commerce Street',
    'Commerse St': 'Commerce Street',
    'Cormme Street': 'Commerce Street',
    
    'Corneilus St': 'Cornelia Street',
    'Cornelia': 'Cornelia Street',
    'Cornelia St': 'Cornelia Street',
    'Cornice St': 'Cornelia Street',
    'Cornice Street': 'Cornelia Street',
    'Corvellia Street': 'Cornelia Street',
    
    'Daby Str': 'Dey Street',
    'De Roy': 'Dey Street',
    
    'Dowry Street': 'Doyers Street',
    
    'Dousay Street': 'Dousay Street',
    'Dousay street': 'Dousay Street',
    'Dounreay St': 'Dousay Street',
    
    'Dowing': 'Downing Street',
    'Dowing St': 'Downing Street',
    'Dowing Street': 'Downing Street',
    'Downing': 'Downing Street',
    'Downing St': 'Downing Street',
    'Diving Street': 'Downing Street',
    'W H': 'Downing Street',
    'W H Downing': 'Downing Street',
    
    'E 11 St': 'E 11th Street',
    'E11 St': 'E 11th Street',
    'E 11th St': 'E 11th Street',
    
    # 'Eadon St'
    # 'Eigelbach ave'

    'East S': 'E Street',
    
    'Eighth Ave': '8th Avenue',
    'Eighth Avenue': '8th Avenue',
    
    'Eleventh St and Seventh Avenue': '7th Ave & 11th St', 
    'Eleventh Street and Seventh Ave': '7th Ave & 11th St', 

    # ?
    'Elnestpher': 'Elnestpher Street',
    'Elnestpher St': 'Elnestpher Street',
    'Elnistiner': 'Elnestpher Street',
    
    # ?
    'End St': 'End Street',
    'Eng Clestel': 'End Street',
    
    # ?
    'Fones': 'Floral Street',
    'Floral Street': 'Floral Street',
    'Florero Street': 'Floral Street',
    
    'Fool Of West 10 And 11 St': 'W 10th & 11th St',
    'Fool West Tenth Street': 'W 10th & 11th St',
    'Fourteenth Street': '14th St',
    'From Cleven to Twelfth Street on Seventh Avenue': '11th St 7th Ave',
    
    # ?
    # 'Gablecrest St'
    # 'Gabrels Street'
    # 'Gag St'
    # 'Gamecock'
    
    'Crove Street': 'Grove Street',
    'Grobe Street': 'Grove Street',
    'Groue Street': 'Grove Street',
    'Grove Court': 'Grove Street',
    'Grove St': 'Grove Street',
    
    'Gamewood Street': 'Greenwich Street',
    'Gamwich Ave': 'Greenwich Avenue',
    'Gamwich Street': 'Greenwich Street',
    'Garmisch Ave': 'Greenwich Avenue',
    'Garmish': 'Greenwich Avenue',
    'Garmish Ave': 'Greenwich Avenue',
    'Garmish St': 'Greenwich Street',
    'Greenich Ave': 'Greenwich Avenue',
    'Greenich St': 'Greenwich Street',
    'Greenich Street': 'Greenwich Street',
    'Greenich street': 'Greenwich Street',
    'Greenoch St': 'Greenwich Street',
    'Greenoch Street': 'Greenwich Street',
    'Greenrich Ave': 'Greenwich Avenue',
    'Greenrich St': 'Greenwich Street',
    'Greenrich Str': 'Greenwich Street',
    'Greenview Street': 'Greenwich Street',
    'Greenwell Ave': 'Greenwich Avenue',
    'Greenwich Ave': 'Greenwich Avenue',
    'Greenwich Avenue': 'Greenwich Avenue',
    'Greenwich St': 'Greenwich Street',
    'Greenwich Street': 'Greenwich Street',
    'Greenwick st': 'Greenwich Street',
    'Greenwright Ave': 'Greenwich Avenue',
    'Greenwright Street': 'Greenwich Street',
    'Greewich Ave': 'Greenwich Avenue',
    'Greewich Avenue': 'Greenwich Avenue',
    'Greewich St': 'Greenwich Street',
    'Greewich Street': 'Greenwich Street',
    'Greinwich St': 'Greenwich Street',
    'Grenwick Ave': 'Greenwich Avenue',
    'Greebriar St': 'Greenwich Street',
    'Greemore Ave': 'Greenwich Avenue',
    'Green Wied Ave': 'Greenwich Avenue',
    'Greenaire Th Ave': 'Greenwich Avenue',
    'Greenbench St': 'Greenwich Street',
    'Greenbench Street': 'Greenwich Street',
    'Greenbrush Ave': 'Greenwich Avenue',
    'Greenbush St': 'Greenwich Street',
    'Greencrest Street': 'Greenwich Street',
    
    'Gane St': 'Gansevoort Street',
    'Gans Everst St': 'Gansevoort Street',
    'Gans Everst Street': 'Gansevoort Street',
    'Gans Roost Street': 'Gansevoort Street',
    'Ganse Voort St': 'Gansevoort Street',
    'Gansevoast St': 'Gansevoort Street',
    'Gansevoort Street': 'Gansevoort Street',
    'Gansvoort': 'Gansevoort Street',
    'Ganzevoort St': 'Gansevoort Street',
    'Gause Voort Street': 'Gansevoort Street',
    'gavzevoort st': 'Gansevoort Street',
    
    'Garrah St': 'Gay Street',
    'Garver Street': 'Gay Street',
    'Gassiert St': 'Gay Street',
    'Gay St': 'Gay Street',
    'Geary St': 'Gay Street',
    'Gehl Street': 'Gay Street',
    'Gell March St': 'Gay Street',
    'Gerry Street': 'Gay Street',

    # ?
    # 'Ginev Street'
    'Gracerock St': 'Grand Street',
    'Gracewood': 'Grand Street',
    'Gracewood Avenue': 'Grand Street',
    'Graemont Street': 'Grand Street',
    'Gramlich Ave': 'Grand Street',
    'Gramlich St': 'Grand Street',
    'Gramlich Street': 'Grand Street',
    'Grant St': 'Grand Street',
    'Grave Cazort': 'Grand Street',
    'Greacher St': 'Grand Street',
    'Greason OA St': 'Grand Street',
    'Greate St': 'Grand Street',
    'Greatnorth Ave': 'Grand Street',

    # ?
    'Haada St': 'Hague Street',
    'Haaland Street': 'Hague Street',
    'Haanapaa Street': 'Hague Street',
    'Haberern St': 'Hague Street',
    'Hacket St': 'Hague Street',
    'Hader St': 'Hague Street',
    'Hadorn': 'Hague Street',
    'Hates St': 'Hague Street',
    
    # ?
    # 'Hanlon St'
    # 'Harahan St'
    # 'Harvestor St'
    
    'Hancock': 'Hancock Street',
    
    'Handson': 'Hudson Street',
    'Handson Street': 'Hudson Street',
    'Hildson Street': 'Hudson Street',
    'Hodson': 'Hudson Street',
    'Hodson St': 'Hudson Street',
    'Hodson Street': 'Hudson Street',
    'Hudson St': 'Hudson Street',
    'Hudson Str': 'Hudson Street',
    'Hudson Street': 'Hudson Street',
    'Hudson street': 'Hudson Street',
    'Hutson St': 'Hudson Street',
    'Hudson': 'Hudson Street',
    'Huddle St': 'Hudson Street',
    'Hudack St': 'Hudson Street',
    
    'Hariton Street': 'Harrison Street',
    
    'Heater St': 'Hester Street',
    'Hedcor Street': 'Hester Street',
    'Herdener Street': 'Hester Street',
    
    'Horacio St': 'Horatio Street',
    'Horale St': 'Horatio Street',
    'Horatio St': 'Horatio Street',
    'Horatio St Rear': 'Horatio Street',
    'Horatio Street': 'Horatio Street',
    'Horatio st': 'Horatio Street',
    'Hornton Street': 'Horatio Street',
    'W Hornton St': 'Horatio Street',
    'Labor Locatio': 'Horatio Street',
    'Locatio St': 'Horatio Street',
    
    'West Houston': 'Houston Street W',
    'West Houston St': 'Houston Street W',
    'West Houston Street': 'Houston Street W',
 
    # 'Interloch St'
    
    'Jaan St': 'Jane Street',
    'Jane Ave': 'Jane Street',
    'Jane St': 'Jane Street',
    'Jane Street': 'Jane Street',
    'Jant Street': 'Jane Street',
    
    'Jones': 'Jones Street',
    'Jones St': 'Jones Street',
    
    'Jace': 'James Street',
    'Jace St': 'James Street',
    'Jacie street': 'James Street',
    'Jam Street': 'James Street',

     # 'Jarvist Ave'
     
     'Jefferson Market City Parson': 'Jefferson Street',
     'Jefferson Market City Prison': 'Jefferson Street',
     'Johanson': 'John Street',
     
    'Kee St': 'King Street',
    
    'Lacoy St': 'Leroy Street',
    'Lacoy Street': 'Leroy Street',
    'Laroy': 'Leroy Street',
    'Le Roy': 'Leroy Street',
    'Le Roy St': 'Leroy Street',
    'Leewal Ave': 'Leroy Street',
    'Leovey St': 'Leroy Street',
    'Leray St': 'Leroy Street',
    'Leray Street': 'Leroy Street',
    'Leray st': 'Leroy Street',
    'Leroy St': 'Leroy Street',
    'Leroy Street': 'Leroy Street',
    'Leroy Strret': 'Leroy Street',
    'Lery St': 'Leroy Street',
    
    'Liller 12 St': 'Little West 12th Street',
    'Litlle West 12 St': 'Little West 12th Street',
    'Little West 12 St': 'Little West 12th Street',
    'Little West 12th St': 'Little West 12th Street',
    
    #'Maratic'
    # 'Maxam St'
    
    'Madon St': 'Madison Street',
    
    'Milligan Place': 'Milligan Place',
    
    'Morton': 'Morton Street',
    'Morton St': 'Morton Street',
    'Morton Street': 'Morton Street',
    
    # 'Nasty'
    # 'Nort 4th Street' 
    # 'Norton Street'
    # 'Novel St'
    
    # 'Ohala'
    # 'Olauniu'
    
    'Parry Str': 'Perry Street',
    'Parry Street': 'Perry Street',
    'Peery Street': 'Perry Street',
    'Peny': 'Perry Street',
    'Peny St': 'Perry Street',
    'Peral st': 'Perry Street',
    'Perrer Street': 'Perry Street',
    'Perry St': 'Perry Street',
    'Perry Str': 'Perry Street',
    'Perry Street': 'Perry Street',
    'Perry street': 'Perry Street',
    'Pery': 'Perry Street',
    'Pery Rear': 'Perry Street',
    'Pery St': 'Perry Street',
    'perry street': 'Perry Street',
    
    'Patchee Place': 'Patchin Place',
    'Patchen Place': 'Patchin Place',
    'patchen place': 'Patchin Place',
    
    # 'Payer'
    #'Pheshing Ton'
    # 'Plucker'
    #'Pung St'
    
    # 'Quigly Pl'
    
    'Ras': 'Rose Street',
    # 'Rest 11th Street'
    # 'Restaurant'
    # 'Root'
    
    # 'Sacalait 4th M'
    # 'Sacre Abandon Sauce'
    # 'Serry Street'
    # 'Sivley Place'
    
    'Seventh Ave': '7th Avenue',
    'Seventh Avenue': '7th Avenue',
    'Sixth Ave': '6th Avenue',
    'Sixth Avenue': '6th Avenue',
    'Sixthe Ave': '6th Avenue',
    # 'South Avenue'
    
    # 'Spot Forth'
    # 'St 14th St'
    # 'St Acie St'
    
    'Srevice Street': 'Service Street',
    
    'St Linker Place': "Saint Luke's Place",
    'St Luke Place': "Saint Luke's Place",
    'St Lukes Place': "Saint Luke's Place",
    'St Lukia Pl': "Saint Luke's Place",
    # 'St Vincents Hospital Eleventh St Seventh Ave'
    
    # 'Steamship Alamo Fool West Tenth Street Willsey Arrel'
    # 'Steamship Colorado Fool West Tenth Street'
    # 'Steamship Demer Fool West Tenth Street'
    # 'Steamship Wymosa Foot Of West 11 St'
    # 'Stemen St Vacio'
    # 'Str Pa'
    # 'Street'
    # 'Street 4 & St'
    
    # 'Taas St'
    # 'Tuker'
    'Tane St': 'Thames Street',
    'Toot 11th Street': 'Toot Street',
    'Toot Bank St': 'Toot Street',
    'Toot W 11th St': 'Toot Street',
    'Toot West 11th Sheet S S Prantes': 'Toot Street',
    'Toot West 11th Stat Stewer Eel Valle': 'Toot Street',
    
    'Van Nest Place': 'Vannest Place',
    'Van West Place': 'Vannest Place',
    
    'Vancik': 'Varick Street',
    'Vancik Street': 'Varick Street',
    'Vanrick St': 'Varick Street',
    'Vanrick Street': 'Varick Street',
    'Varick Street': 'Varick Street',
    
    # 'Wable'
    # 'Wallsmith'
    
    'Wackerly Place': 'Waverly Place',
    'Waderky St': 'Waverly Place',
    'Wakely Pl': 'Waverly Place',
    'Wanley Place': 'Waverly Place',
    'Warbaby Pl': 'Waverly Place',
    'Warley Place': 'Waverly Place',
    'Waveney Place WN St': 'Waverly Place',
    'Waverley Pl': 'Waverly Place',
    'Waverley Place': 'Waverly Place',
    'Waverly Place': 'Waverly Place',
    'Waverly St': 'Waverly Place',
    
    'Wait 10': 'White Street',
    'Wait 12 Street': 'White Street',
    
    # 'Warick'
    # 'Warick Street'
    # 'Wastewater Street'
    # 'Wealthy St'
    # 'Wrigth'
    
    'Wash Pl': 'Washington Place',
    'Washington Pl': 'Washington Place',
    'Washington Place': 'Washington Place',
    'Wash St': 'Washington Street',
    'Washing 6th': 'Washington Street',
    'Washing An St': 'Washington Street',
    'Washing St': 'Washington Street',
    'Washing Str': 'Washington Street',
    'Washing Ton': 'Washington Street',
    'Washing Tor St': 'Washington Street',
    'Washingtion': 'Washington Street',
    'Washingtion St': 'Washington Street',
    'Washingtion Street': 'Washington Street',
    'Washington': 'Washington Street',
    'Washington 13th Street': 'Washington Street',
    'Washington St': 'Washington Street',
    'Washington Street': 'Washington Street',
    'Washington street': 'Washington Street',
    'Washinton': 'Washington Street',
    'Washinton Street': 'Washington Street',
    'Wastach 11th st': 'Washington Street',
    
    'Weehawken Street': 'Weehawken Street',

    'Wentworth Wart': 'Worth Street',
    'Werth Str': 'Worth Street',
    
    'Westhall St': 'Whitehall Street',

    
    # 'W W 21 Ns 12'
    # 'West Luckte St'
    # 'West South'
    # 'West South Street'
    # 'West Walworth Street'
    # 'West Spector St'
    
    'W St': 'West Street',
    'West': 'West Street',
    'West St': 'West Street',
    'West Street': 'West Street',
    'West street': 'West Street',
    'weat St': 'West Street',
    
    'W 10 St': 'W 10th Street',
    'W 10 Street': 'W 10th Street',
    'W 10th St': 'W 10th Street',
    'West 10': 'W 10th Street',
    'West 10 St': 'W 10th Street',
    'West 10 Street': 'W 10th Street',
    'West 10th': 'W 10th Street',
    'West 10th Haint': 'W 10th Street',
    'West 10th St': 'W 10th Street',
    'West 10th Street': 'W 10th Street',
    'West Tenth Street': 'W 10th Street',
    
    'W 11 St': 'W 11th Street',
    'W 11 Street': 'W 11th Street',
    'W 11th St': 'W 11th Street',
    'W 11th Street': 'W 11th Street',
    'West 11st': 'W 11th Street',
    'West 11th': 'W 11th Street',
    'West 11th St': 'W 11th Street',
    'West 11th Street': 'W 11th Street',
    'West Eleventh St': 'W 11th Street',
    'West Eleventh Street': 'W 11th Street',
    'West Elsworth Street': 'W 11th Street',
    
    'W 12 St': 'W 12th Street',
    'W 12th St': 'W 12th Street',
    'West 12 St': 'W 12th Street',
    'West 12 Street': 'W 12th Street',
    'West 12 st': 'W 12th Street',
    'West 12th St': 'W 12th Street',
    'West 12th Street': 'W 12th Street',
    'west 12 street': 'W 12th Street',
    'west 12th st': 'W 12th Street',
    
    'W 13 St': 'W 13th Street',
    'W 13th': 'W 13th Street',
    'W 13th St': 'W 13th Street',
    'West 13 St': 'W 13th Street',
    'West 13 Street': 'W 13th Street',
    'West 13th St': 'W 13th Street',
    'West 13th Street': 'W 13th Street',
    'West Thirteenth St': 'W 13th Street',
    'West Thirteenth Street': 'W 13th Street',
    
    'W 14 St': 'W 14th Street',
    'W 14th St': 'W 14th Street',
    'West 14 St': 'W 14th Street',
    'West 14th St': 'W 14th Street',
    'West 14th Street': 'W 14th Street',
    'West Forseth Street': 'W 14th Street',
    'West Fourteenth Street': 'W 14th Street',
    
    'W 4 St': 'W 4th Street',
    'W 4 Street': 'W 4th Street',
    'W 4th St': 'W 4th Street',
    'W 4th Street': 'W 4th Street',
    'W Fourth St': 'W 4th Street',
    'West 4': 'W 4th Street',
    'West 4 St': 'W 4th Street',
    'West 4th': 'W 4th Street',
    'West 4th St': 'W 4th Street',
    'West 4th Street': 'W 4th Street',
    'West Fourth': 'W 4th Street',
    'West Fourth St': 'W 4th Street',
    'w 4th St': 'W 4th Street',
    
    'West Airth St': 'W 8th Street',
    
    'W 21st Street': 'W 21st Street',
    
    'W 45 St': 'W 45th Street'
}

In [10]:
df = df.replace({'street_clean': STREET})
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Number of Weeks Out of Work,Can Read,Can Write,Attended School,Own or Rent,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,street_clean
0,31776_4449715-00931,18527185,Mamie Rodgers,18527185,Barrow St,51,4,24,Rodgers,Wife,...,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN,Barrow Street

In [11]:
streets_list = list(dict(df['street_clean'].value_counts()).keys())
streets_list[:5]

['Hudson Street',
 'Perry Street',
 'W 11th Street',
 'W 10th Street',
 'Washington Street']

### Cross check results

After basic clean, check `street_clean` results with master list and revise `STREET` dict.

In [12]:
for street in streets_list:
    if street not in master_list:
        print(street)

13th Street
Service Street
Clackum
10th Street
14th St
Elnestpher Street
Street
Saint Luke's Place
Dousay Street
West South Street
14th Street
8th Ave
7th Ave & 11th St
St Vincents Hospital Eleventh St Seventh Ave
Toot Street
Floral Street
Barron Street
Comeau
W 10th & 11th St
Blacker St
Claims Topher Street
18 West 12 Th
Steamship Wymosa Foot Of West 11 St
Comber
Dousay St
18 W 21 Ws 10
Chalco Street
Spot Forth
Ginev Street
11th St 7th Ave
1st W St Ns 10
Coursey St
18 W St W 10
West Walworth Street
Olauniu
Chaddington Street
78 St Ns 10
Eadon St
W 8th Street
Maratic
Averly Place
Gag St
Nort 4th Street
Gabrels Street
Bachler Street
Steamship Alamo Fool West Tenth Street Willsey Arrel
Quigly Pl
Norton Street
Charbon St
Street 4 & St
Nasty
Steamship Colorado Fool West Tenth Street
End Street
Clavis Topher Street
Cloudrest street
Rest 11th Street
Warick
Baade Street
Serry Street
13th Washington Street
Aextte Avenue
Interloch St
Barford St
Eigelbach ave
W W 21 Ns 12
Steamship Demer Fool West Tenth Street
Sacre Abandon Sauce
Abandon
Corkum
Pung St
Baump Street
South Avenue
Plucker
507 Wart Street
Warick Street
Charhela Street
Gablecrest St
Cindrich Ave
Sacalait 4th M
Novel St
Ballow Street
Wealthy St
Almwich Street
West Spector St
Hanlon St
Ohala
Sivley Place
St Acie St
Harvestor St
West Luckte St
5 Rest Raeth
Benson Street
Gamecock
West South
15th Street
Baptish Street
Jarvist Ave
6th Ave
Wastewater Street
73
Abbeville Street
7th Ave
Taas St
Clakow St
Harahan St
Pheshing Ton
Castle Street
B Cusker Street
Barra Co
5th Ave
Crownmill Street
Wable
Cna St
Tuker
Wrigth
Stemen St Vacio
St 14th St
Chus Apline
Baraboo
Butcher Street
80
Restaurant
Root
Payer
11th Street
Maxam St
Str Pa
Wallsmith
Blasius Street
Blucher Street

In [18]:
#sorted(master_list)

### House Number

I suddenly have a feeling that is `'2.0'` '2' or '20'?

In [13]:
df['num_clean'] = df['House Number']
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Can Read,Can Write,Attended School,Own or Rent,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,street_clean,num_clean
0,31776_4449715-00931,18527185,Mamie Rodgers,18527185,Barrow St,51,4,24,Rodgers,Wife,...,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN,Barrow Street,51

In [15]:
no = dict(df['num_clean'].value_counts())
sorted(no.items())

[('0', 20),
 ('0.0', 9),
 ('1', 156),
 ('1 1/2', 10),
 ('1.0', 55),
 ('1/12', 1),
 ('10', 289),
 ('10-12', 76),
 ('10-21', 37),
 ('10-32', 41),
 ('10.0', 98),
 ('100', 48),
 ('100.0', 20),
 ('101', 147),
 ('101.0', 40),
 ('102', 37),
 ('102.0', 52),
 ('103', 84),
 ('103-5', 29),
 ('103.0', 26),
 ('1035', 58),
 ('1039.0', 50),
 ('104', 75),
 ('104.0', 47),
 ('105', 37),
 ('105.0', 35),
 ('106', 39),
 ('106.0', 250),
 ('107', 24),
 ('107.0', 99),
 ('1079.0', 4),
 ('108', 47),
 ('108.0', 170),
 ('109', 55),
 ('109.0', 24),
 ('11', 289),
 ('11.0', 86),
 ('110', 36),
 ('110 Rear', 11),
 ('110.0', 191),
 ('111', 15),
 ('111.0', 147),
 ('1111', 36),
 ('112', 13),
 ('112.0', 45),
 ('113', 112),
 ('113.0', 84),
 ('1132.0', 8),
 ('114', 63),
 ('114.0', 51),
 ('115', 77),
 ('115.0', 95),
 ('116', 40),
 ('116.0', 128),
 ('117', 238),
 ('117.0', 146),
 ('118', 54),
 ('118.0', 83),
 ('119', 252),
 ('119 1/2', 9),
 ('119.0', 80),
 ('12', 226),
 ('12 B', 1),
 ('12 F', 20),
 ('12-8', 16),
 ('12.0', 99),
 ('120', 41),
 ('120 Rear', 18),
 ('120.0', 65),
 ('121', 76),
 ('121.0', 17),
 ('1214', 50),
 ('122', 45),
 ('122.0', 25),
 ('123', 86),
 ('123.0', 36),
 ('124', 61),
 ('124.0', 31),
 ('125', 60),
 ('125.0', 8),
 ('126', 64),
 ('126.0', 93),
 ('127', 53),
 ('127.0', 44),
 ('128', 60),
 ('128.0', 26),
 ('129', 185),
 ('129.0', 67),
 ('13', 437),
 ('13 1/2', 9),
 ('13.0', 63),
 ('130', 22),
 ('130.0', 34),
 ('131', 106),
 ('131 1/2', 28),
 ('131.0', 12),
 ('132', 34),
 ('132 1/2', 4),
 ('132.0', 32),
 ('133', 82),
 ('133.0', 67),
 ('134', 105),
 ('134.0', 10),
 ('1343', 5),
 ('135', 55),
 ('135-51', 7),
 ('135.0', 42),
 ('136', 31),
 ('136.0', 54),
 ('137', 88),
 ('137.0', 45),
 ('138', 76),
 ('138.0', 24),
 ('139', 72),
 ('139.0', 36),
 ('14', 245),
 ('14 Rear', 23),
 ('14.0', 22),
 ('140', 90),
 ('140.0', 34),
 ('141', 47),
 ('141.0', 6),
 ('142', 23),
 ('142.0', 26),
 ('143', 108),
 ('143.0', 35),
 ('144', 81),
 ('144.0', 21),
 ('145', 44),
 ('145.0', 15),
 ('146', 89),
 ('146.0', 21),
 ('147', 120),
 ('147.0', 20),
 ('148', 56),
 ('148.0', 27),
 ('149', 34),
 ('149.0', 82),
 ('15', 374),
 ('15 Rear', 8),
 ('15.0', 70),
 ('150', 66),
 ('150.0', 37),
 ('151', 18),
 ('151.0', 28),
 ('152.0', 88),
 ('153', 11),
 ('153.0', 28),
 ('154', 10),
 ('154.0', 43),
 ('155', 14),
 ('155.0', 16),
 ('1554', 22),
 ('156', 33),
 ('156.0', 16),
 ('157', 5),
 ('157.0', 36),
 ('158', 33),
 ('158.0', 15),
 ('159', 27),
 ('159.0', 32),
 ('16', 331),
 ('16 1/2', 133),
 ('16 1/2 Rear 4', 23),
 ('16 R', 31),
 ('16.0', 40),
 ('160', 20),
 ('160.0', 25),
 ('1602', 11),
 ('161', 48),
 ('161.0', 89),
 ('162', 22),
 ('162.0', 43),
 ('163', 120),
 ('163.0', 28),
 ('164', 45),
 ('164.0', 6),
 ('165', 188),
 ('165-169', 20),
 ('165.0', 33),
 ('1659', 11),
 ('166', 74),
 ('167', 148),
 ('167.0', 64),
 ('168', 13),
 ('168-170', 11),
 ('169', 12),
 ('169-70', 50),
 ('169.0', 56),
 ('17', 262),
 ('17.0', 131),
 ('170', 46),
 ('170-168', 50),
 ('171', 15),
 ('171-3', 11),
 ('171.0', 48),
 ('1713', 32),
 ('172', 16),
 ('173', 10),
 ('173.0', 50),
 ('174', 712),
 ('174.0', 5),
 ('1744', 29),
 ('1745', 2),
 ('1746', 37),
 ('175', 20),
 ('175.0', 40),
 ('176', 155),
 ('176.0', 27),
 ('177', 31),
 ('177.0', 51),
 ('178', 139),
 ('178.0', 6),
 ('179', 49),
 ('179.0', 7),
 ('18', 528),
 ('18-14', 22),
 ('18-14 Rear', 2),
 ('18.0', 23),
 ('180', 32),
 ('180.0', 10),
 ('181', 76),
 ('182', 61),
 ('183.0', 23),
 ('184', 47),
 ('184.0', 58),
 ('185', 31),
 ('186', 378),
 ('187', 20),
 ('187.0', 3),
 ('188', 1),
 ('189', 16),
 ('189.0', 58),
 ('19', 445),
 ('19.0', 105),
 ('190', 47),
 ('190.0', 29),
 ('191', 14),
 ('191.0', 12),
 ('192', 30),
 ('192.0', 25),
 ('193', 14),
 ('193.0', 19),
 ('194', 27),
 ('194.0', 47),
 ('195.0', 15),
 ('196', 37),
 ('196.0', 75),
 ('197.0', 6),
 ('198', 20),
 ('198 200', 42),
 ('198.0', 27),
 ('199', 20),
 ('199.0', 80),
 ('2', 158),
 ('2.0', 58),
 ('20', 302),
 ('20.0', 22),
 ('20/22', 51),
 ('200', 67),
 ('200.0', 14),
 ('201', 25),
 ('201.0', 8),
 ('202', 22),
 ('202 1/2', 1),
 ('202.0', 14),
 ('203', 21),
 ('203.0', 22),
 ('204', 26),
 ('204.0', 4),
 ('205', 14),
 ('205.0', 37),
 ('206', 37),
 ('206.0', 21),
 ('207', 24),
 ('207.0', 63),
 ('208', 23),
 ('208.0', 41),
 ('209', 71),
 ('209.0', 25),
 ('21', 362),
 ('21 Rear', 10),
 ('21 Rear House', 9),
 ('21.0', 107),
 ('210', 56),
 ('210.0', 17),
 ('211', 57),
 ('211.0', 122),
 ('212', 32),
 ('212.0', 24),
 ('213', 38),
 ('213.0', 81),
 ('214', 32),
 ('214.0', 12),
 ('215', 41),
 ('215.0', 94),
 ('216', 10),
 ('217', 14),
 ('217.0', 39),
 ('218', 27),
 ('218.0', 50),
 ('2185', 16),
 ('219', 62),
 ('219.0', 39),
 ('22', 238),
 ('22 Rear', 4),
 ('22.0', 52),
 ('220', 56),
 ('220.0', 45),
 ('221', 36),
 ('221.0', 98),
 ('222', 15),
 ('222.0', 142),
 ('2224.0', 142),
 ('223', 55),
 ('223.0', 123),
 ('224', 27),
 ('224.0', 63),
 ('225', 32),
 ('225.0', 94),
 ('226', 30),
 ('226.0', 158),
 ('227', 24),
 ('227-29', 48),
 ('227.0', 11),
 ('228', 12),
 ('228.0', 71),
 ('229', 23),
 ('229.0', 108),
 ('23', 417),
 ('23.0', 175),
 ('230', 56),
 ('230.0', 16),
 ('231', 16),
 ('232', 6),
 ('232.0', 12),
 ('233', 28),
 ('233.0', 1),
 ('234', 45),
 ('234.0', 63),
 ('235', 80),
 ('235.0', 10),
 ('236', 56),
 ('236.0', 168),
 ('237', 90),
 ('237-39', 50),
 ('237.0', 55),
 ('238', 142),
 ('238 Rear', 7),
 ('238.0', 57),
 ('239', 48),
 ('239.0', 19),
 ('24', 345),
 ('24.0', 42),
 ('240', 35),
 ('240.0', 172),
 ('241', 68),
 ('241.0', 17),
 ('242', 11),
 ('242.0', 104),
 ('2426', 4),
 ('243', 114),
 ('243.0', 10),
 ('244', 41),
 ('244.0', 108),
 ('245', 42),
 ('246', 37),
 ('246.0', 39),
 ('247', 96),
 ('247.0', 19),
 ('248', 8),
 ('248.0', 33),
 ('249', 72),
 ('249.0', 12),
 ('25', 352),
 ('25-27', 96),
 ('25.0', 172),
 ('250', 41),
 ('250.0', 22),
 ('251', 52),
 ('252', 12),
 ('252.0', 21),
 ('2527', 35),
 ('253', 21),
 ('253 Rear', 14),
 ('254', 3),
 ('254-61-63', 40),
 ('254.0', 11),
 ('255', 91),
 ('255.0', 13),
 ('256', 10),
 ('256.0', 30),
 ('257', 67),
 ('257.0', 12),
 ('258', 155),
 ('259', 194),
 ('259.0', 4),
 ('26', 416),
 ('26.0', 34),
 ('260', 35),
 ('260.0', 10),
 ('261', 33),
 ('261.0', 13),
 ('262', 34),
 ('262.0', 11),
 ('2621', 78),
 ('2628', 6),
 ('2628.0', 80),
 ('263', 7),
 ('263.0', 7),
 ('264', 8),
 ('264.0', 16),
 ('265', 4),
 ('265.0', 26),
 ('266', 86),
 ('266.0', 16),
 ('267', 8),
 ('267.0', 3),
 ('268', 29),
 ('268.0', 56),
 ('269', 45),
 ('269.0', 3),
 ('27', 259),
 ('27 1/2', 58),
 ('27.0', 38),
 ('270', 51),
 ('270.0', 52),
 ('2702', 62),
 ('271', 38),
 ('271.0', 2),
 ('272', 29),
 ('272-78', 160),
 ('273', 82),
 ('273.0', 22),
 ('274', 27),
 ('274.0', 24),
 ('275', 27),
 ('275.0', 25),
 ('2752', 8),
 ('276', 8),
 ('277', 36),
 ('277.0', 60),
 ('278', 27),
 ('279', 20),
 ('279.0', 8),
 ('28', 466),
 ('28 Rear', 7),
 ('28.0', 27),
 ('280', 56),
 ('280.0', 21),
 ('281', 28),
 ('281.0', 36),
 ('282', 60),
 ('283', 74),
 ('283.0', 32),
 ('284', 48),
 ('285', 89),
 ('285.0', 18),
 ('286', 35),
 ('287', 22),
 ('287-89', 23),
 ('287.0', 14),
 ('288', 49),
 ('288.0', 8),
 ('289', 19),
 ('29', 314),
 ('29 1/2', 12),
 ('29-24 1/2', 50),
 ('29-29 1/2', 65),
 ('29-29/2', 15),
 ('29.0', 54),
 ('290', 50),
 ('290 1/2', 13),
 ('290 3/4', 50),
 ('290.0', 6),
 ('291', 72),
 ('292', 14),
 ('292.0', 9),
 ('293', 23),
 ('293.0', 15),
 ('294', 29),
 ('294.0', 4),
 ('295', 11),
 ('295.0', 16),
 ('296', 145),
 ('297', 27),
 ('297.0', 5),
 ('298', 4),
 ('298.0', 8),
 ('299', 12),
 ('3', 82),
 ('3.0', 72),
 ('30', 317),
 ('30.0', 92),
 ('300', 93),
 ('300.0', 19),
 ('301', 17),
 ('301.0', 21),
 ('302', 36),
 ('302.0', 25),
 ('303', 34),
 ('303.0', 21),
 ('304', 56),
 ('304.0', 56),
 ('305', 2),
 ('305.0', 57),
 ('306', 87),
 ('306.0', 39),
 ('307', 23),
 ('307.0', 50),
 ('308', 23),
 ('308.0', 29),
 ('309', 8),
 ('309.0', 44),
 ('31', 272),
 ('31.0', 66),
 ('310', 47),
 ('310.0', 21),
 ('311', 10),
 ('311.0', 55),
 ('312', 15),
 ('312.0', 38),
 ('313', 13),
 ('313.0', 32),
 ('315.0', 89),
 ('316', 2),
 ('316.0', 54),
 ('317', 12),
 ('317.0', 40),
 ('318', 2),
 ('318.0', 33),
 ('319', 9),
 ('319.0', 66),
 ('32', 139),
 ('32-32', 25),
 ('32-34', 108),
 ('32.0', 156),
 ('320', 10),
 ('320.0', 13),
 ('321', 88),
 ('321.0', 10),
 ('322', 37),
 ('322.0', 46),
 ('323', 75),
 ('323.0', 15),
 ('324', 76),
 ('324.0', 37),
 ('325', 187),
 ('325.0', 22),
 ('326', 69),
 ('326 Rear', 23),
 ('326.0', 40),
 ('327', 65),
 ('327.0', 44),
 ('328', 73),
 ('328.0', 8),
 ('33', 328),
 ('33.0', 135),
 ('330', 35),
 ('330.0', 3),
 ('331', 21),
 ('331.0', 19),
 ('332.0', 7),
 ('333', 22),
 ('333.0', 32),
 ('334', 6),
 ('334.0', 17),
 ('335', 11),
 ('335.0', 13),
 ('336', 21),
 ('336.0', 13),
 ('337.0', 35),
 ('338', 61),
 ('338.0', 18),
 ('339.0', 32),
 ('34', 250),
 ('34.0', 156),
 ('340', 48),
 ('340.0', 31),
 ('341.0', 15),
 ('342', 8),
 ('342.0', 5),
 ('343.0', 39),
 ('344', 54),
 ('344.0', 43),
 ('345', 7),
 ('345.0', 44),
 ('346', 29),
 ('346.0', 151),
 ('347', 15),
 ('347.0', 52),
 ('348', 6),
 ('348.0', 44),
 ('349', 45),
 ('349.0', 12),
 ('35', 213),
 ('35 1/2', 6),
 ('35.0', 76),
 ('350', 46),
 ('350.0', 49),
 ('351.0', 10),
 ('352', 83),
 ('352.0', 33),
 ('353', 19),
 ('353.0', 13),
 ('3537', 6),
 ('354', 71),
 ('354.0', 57),
 ('355', 49),
 ('355.0', 6),
 ('356', 75),
 ('356.0', 28),
 ('357', 17),
 ('358', 6),
 ('358.0', 58),
 ('359', 16),
 ('359.0', 2),
 ('36', 194),
 ('36.0', 60),
 ('360', 5),
 ('360.0', 50),
 ('361', 19),
 ('361.0', 31),
 ('362', 14),
 ('362.0', 72),
 ('363', 7),
 ('363.0', 35),
 ('364.0', 26),
 ('365', 24),
 ('366', 6),
 ('367', 9),
 ('367.0', 29),
 ('368', 6),
 ('369', 34),
 ('369.0', 10),
 ('37', 411),
 ('37 1/2', 22),
 ('37 A', 4),
 ('37.0', 103),
 ('370', 25),
 ('370.0', 16),
 ('371', 43),
 ('372', 20),
 ('372.0', 15),
 ('373', 36),
 ('374', 15),
 ('374.0', 4),
 ('375', 16),
 ('376', 13),
 ('377', 21),
 ('378', 156),
 ('379', 32),
 ('38', 137),
 ('38.0', 95),
 ('380', 12),
 ('381', 30),
 ('382', 6),
 ('383', 10),
 ('384', 96),
 ('387', 8),
 ('387 1/2', 12),
 ('388', 21),
 ('389', 19),
 ('39', 222),
 ('39.0', 235),
 ('39/97', 6),
 ('390', 20),
 ('391', 48),
 ('392', 12),
 ('393', 17),
 ('394', 11),
 ('395', 58),
 ('396', 26),
 ('396.0', 64),
 ('397', 30),
 ('398', 14),
 ('398.0', 55),
 ('399', 10),
 ('4', 252),
 ('4 1/2', 3),
 ('4.0', 65),
 ('40', 195),
 ('40.0', 184),
 ('400', 36),
 ('400.0', 23),
 ('401', 8),
 ('401.0', 25),
 ('402', 12),
 ('404', 62),
 ('405.0', 15),
 ('406', 10),
 ('407', 16),
 ('407.0', 25),
 ('408', 24),
 ('409.0', 12),
 ('41', 170),
 ('41.0', 128),
 ('411', 25),
 ('411.0', 4),
 ('413', 32),
 ('413.0', 34),
 ('414.0', 2),
 ('415', 11),
 ('415.0', 52),
 ('417', 7),
 ('418.0', 9),
 ('419', 16),
 ('419.0', 22),
 ('42', 252),
 ('42.0', 38),
 ('420.0', 21),
 ('421.0', 13),
 ('422', 17),
 ('423.0', 66),
 ('424', 18),
 ('424.0', 10),
 ('426', 16),
 ('427', 1),
 ('427-9', 6),
 ('428', 18),
 ('429', 52),
 ('429 R', 14),
 ('43', 149),
 ('43.0', 103),
 ('430', 16),
 ('431', 5),
 ('4313.0', 8),
 ('432', 18),
 ('4333', 5),
 ('434', 16),
 ('435', 8),
 ('436', 1),
 ('437', 28),
 ('439', 85),
 ('44', 161),
 ('44.0', 49),
 ('440', 30),
 ('441', 39),
 ('442', 5),
 ('443', 48),
 ('444', 13),
 ('445', 83),
 ('446', 29),
 ('447', 83),
 ('448', 2),
 ('449', 6),
 ('45', 172),
 ('45.0', 133),
 ('450', 6),
 ('451', 7),
 ('452', 16),
 ('453', 29),
 ('454', 9),
 ('455', 6),
 ('456', 5),
 ('456 1/2', 6),
 ('457', 17),
 ('458', 6),
 ('459', 55),
 ('46', 196),
 ('46 Rear', 17),
 ('46.0', 54),
 ('460', 4),
 ('461', 6),
 ('466.0', 6),
 ('467', 9),
 ('468.0', 11),
 ('469', 9),
 ('47', 315),
 ('47-9', 2),
 ('47.0', 63),
 ('470.0', 17),
 ('471', 5),
 ('472', 73),
 ('472.0', 2),
 ('473', 4),
 ('474.0', 6),
 ('475', 20),
 ('476.0', 2),
 ('477', 6),
 ('478.0', 6),
 ('48', 190),
 ('48.0', 236),
 ('480.0', 6),
 ('482.0', 107),
 ('484.0', 48),
 ('486.0', 16),
 ('487', 4),
 ('489', 12),
 ('489.0', 9),
 ('49', 192),
 ('49.0', 169),
 ('490.0', 15),
 ('491', 14),
 ('491.0', 21),
 ('493', 9),
 ('493.0', 3),
 ('494.0', 10),
 ('495', 14),
 ('495.0', 12),
 ('497', 28),
 ('498.0', 16),
 ('5', 333),
 ('5 Rear', 8),
 ('5.0', 30),
 ('50', 237),
 ('50.0', 143),
 ('502', 4),
 ('503', 9),
 ('504.0', 22),
 ('505', 13),
 ('506.0', 21),
 ('507', 6),
 ('507.0', 18),
 ('508.0', 10),
 ('509', 3),
 ('51', 232),
 ('51.0', 15),
 ('51/53', 33),
 ('510.0', 8),
 ('511', 5),
 ('512.0', 12),
 ('513', 16),
 ('514.0', 19),
 ('515', 14),
 ('516.0', 9),
 ('517', 10),
 ('518.0', 17),
 ('519', 29),
 ('52', 173),
 ('52.0', 198),
 ('521', 61),
 ('522', 6),
 ('522.0', 18),
 ('523', 65),
 ('524.0', 11),
 ('525', 64),
 ('526.0', 21),
 ('527', 36),
 ('528.0', 12),
 ('529', 5),
 ('53', 398),
 ('53.0', 46),
 ('530', 2),
 ('530.0', 10),
 ('531', 55),
 ('532.0', 14),
 ('533', 1),
 ('535', 14),
 ('536.0', 10),
 ('537', 27),
 ('539', 19),
 ('539 1/2', 2),
 ('539.0', 15),
 ('54', 27),
 ('54.0', 114),
 ('540', 10),
 ('540.0', 9),
 ('541', 33),
 ('543', 2),
 ('544', 27),
 ('544 Rear', 5),
 ('545', 14),
 ('546', 15),
 ('546.0', 7),
 ('547', 35),
 ('548', 10),
 ('548 0/2', 2),
 ('55', 379),
 ('55 1/2', 5),
 ('55.0', 53),
 ('550', 18),
 ('551', 83),
 ('555', 11),
 ('5551', 13),
 ('556', 10),
 ('557', 11),
 ('558', 16),
 ('559', 7),
 ('56', 149),
 ('56.0', 158),
 ('560', 13),
 ('561', 18),
 ('562', 28),
 ('564', 19),
 ('566', 14),
 ('57', 228),
 ('57-59', 34),
 ('57.0', 37),
 ('570', 9),
 ('571', 21),
 ('572', 5),
 ('575', 29),
 ('576.0', 7),
 ('577', 22),
 ('579', 31),
 ('58', 91),
 ('58 Rear', 10),
 ('58.0', 126),
 ('581', 25),
 ('587', 18),
 ('59', 49),
 ('59.0', 9),
 ('591', 14),
 ('591 Rear', 13),
 ('593', 15),
 ('593 Rear', 24),
 ('594', 8),
 ('594 Rear', 8),
 ('595', 15),
 ('595 Rear', 29),
 ('596', 4),
 ('597.0', 32),
 ('598', 6),
 ('599.0', 13),
 ('6', 231),
 ('6.0', 53),
 ('60', 97),
 ('60.0', 195),
 ('601', 21),
 ('601.0', 39),
 ('6020', 9),
 ('603.0', 18),
 ('604', 3),
 ('605.0', 92),
 ('606', 9),
 ('607.0', 72),
 ('608', 17),
 ('608.0', 11),
 ('61', 119),
 ('61.0', 9),
 ('611', 6),
 ('612', 22),
 ('613', 70),
 ('613.0', 9),
 ('614', 2),
 ('615', 14),
 ('615.0', 30),
 ('616', 58),
 ('617', 1),
 ('617.0', 22),
 ('618', 23),
 ('619', 6),
 ('619.0', 11),
 ('62', 35),
 ('62.0', 230),
 ('620', 16),
 ('621', 8),
 ('622', 72),
 ('623', 18),
 ('624', 51),
 ('625', 33),
 ('626', 86),
 ('627', 10),
 ('627.0', 16),
 ('628', 15),
 ('629', 23),
 ('629.0', 15),
 ('63', 173),
 ('63.0', 36),
 ('630', 43),
 ('631', 10),
 ('631.0', 65),
 ('632', 5),
 ('633', 8),
 ('633.0', 15),
 ('634', 15),
 ('635', 109),
 ('636', 23),
 ('638', 24),
 ('639.0', 11),
 ('64', 249),
 ('64.0', 222),
 ('640', 9),
 ('641.0', 3),
 ('642', 34),
 ('643', 9),
 ('643.0', 23),
 ('644', 20),
 ('645', 9),
 ('645.0', 11),
 ('646', 10),
 ('647', 18),
 ('647.0', 15),
 ('648', 30),
 ('649', 10),
 ('65', 42),
 ('65.0', 138),
 ('650', 5),
 ('651', 23),
 ('6517', 38),
 ('652', 88),
 ('653', 20),
 ('654', 27),
 ('655', 36),
 ('657', 10),
 ('659', 59),
 ('66', 44),
 ('66 1/2', 1),
 ('66.0', 117),
 ...]

In [16]:
NUMBER = {
    '0.0': '0',
    
    '1 1/2': '1',
    '1.0': '1',
    '1/12': '1',
    
    '10-12': '10',
    '10-21': '10',
    '10-32': '10',
    '10.0': '10',
    
    '100.0': '100',
    '101.0': '101',
    '102.0': '102',
    '104.0': '104',
    '105.0': '105',
    '106.0': '106',
    '107.0': '107',
    '1079.0': '107',
    '108.0': '108',
    '109.0': '109',
    
    '103-5': '103',
    '103.0': '103',
    '1035': '103',
    '1039.0': '103',
    
    '11.0': '11',
    '1111': '11',
    '1132.0': '11',
    
    '110 Rear': '110',
    '110.0': '110',
    
    '111.0': '111',
    '112.0': '112',
    '113.0': '113',
    '114.0': '114',
    '115.0': '115',
    '116.0': '116',
    '117.0': '117',
    '118.0': '118',
    '119 1/2': '119',
    '119.0': '119',
    
    '12 B'
    '12 F'
    '12-8'
    '12.0'
    '1214'
    
    
    '120 Rear'
    '120.0'
    
    '121.0'
    '122.0'
    '123.0'
    '124.0'
    '125.0'
    '126.0'
    '127.0', 44), ('128', 60), ('128.0', 26), ('129', 185), ('129.0', 67), ('13', 437), ('13 1/2', 9), ('13.0', 63), ('130', 22), ('130.0', 34), ('131', 106), ('131 1/2', 28), ('131.0', 12), ('132', 34), ('132 1/2', 4), ('132.0', 32), ('133', 82), ('133.0', 67), ('134', 105), ('134.0', 10), ('1343', 5), ('135', 55), ('135-51', 7), ('135.0', 42), ('136', 31), ('136.0', 54), ('137', 88), ('137.0', 45), ('138', 76), ('138.0', 24), ('139', 72), ('139.0', 36), ('14', 245), ('14 Rear', 23), ('14.0', 22), ('140', 90), ('140.0', 34), ('141', 47), ('141.0', 6), ('142', 23), ('142.0', 26), ('143', 108), ('143.0', 35), ('144', 81), ('144.0', 21), ('145', 44), ('145.0', 15), ('146', 89), ('146.0', 21), ('147', 120), ('147.0', 20), ('148', 56), ('148.0', 27), ('149', 34), ('149.0', 82), ('15', 374), ('15 Rear', 8), ('15.0', 70), ('150', 66), ('150.0', 37), ('151', 18), ('151.0', 28), ('152.0', 88), ('153', 11), ('153.0', 28), ('154', 10), ('154.0', 43), ('155', 14), ('155.0', 16), ('1554', 22), ('156', 33), ('156.0', 16), ('157', 5), ('157.0', 36), ('158', 33), ('158.0', 15), ('159', 27), ('159.0', 32), ('16', 331), ('16 1/2', 133), ('16 1/2 Rear 4', 23), ('16 R', 31), ('16.0', 40), ('160', 20), ('160.0', 25), ('1602', 11), ('161', 48), ('161.0', 89), ('162', 22), ('162.0', 43), ('163', 120), ('163.0', 28), ('164', 45), ('164.0', 6), ('165', 188), ('165-169', 20), ('165.0', 33), ('1659', 11), ('166', 74), ('167', 148), ('167.0', 64), ('168', 13), ('168-170', 11), ('169', 12), ('169-70', 50), ('169.0', 56), ('17', 262), ('17.0', 131), ('170', 46), ('170-168', 50), ('171', 15), ('171-3', 11), ('171.0', 48), ('1713', 32), ('172', 16), ('173', 10), ('173.0', 50), ('174', 712), ('174.0', 5), ('1744', 29), ('1745', 2), ('1746', 37), ('175', 20), ('175.0', 40), ('176', 155), ('176.0', 27), ('177', 31), ('177.0', 51), ('178', 139), ('178.0', 6), ('179', 49), ('179.0', 7), ('18', 528), ('18-14', 22), ('18-14 Rear', 2), ('18.0', 23), ('180', 32), ('180.0', 10), ('181', 76), ('182', 61), ('183.0', 23), ('184', 47), ('184.0', 58), ('185', 31), ('186', 378), ('187', 20), ('187.0', 3), ('188', 1), ('189', 16), ('189.0', 58), ('19', 445), ('19.0', 105), ('190', 47), ('190.0', 29), ('191', 14), ('191.0', 12), ('192', 30), ('192.0', 25), ('193', 14), ('193.0', 19), ('194', 27), ('194.0', 47), ('195.0', 15), ('196', 37), ('196.0', 75), ('197.0', 6), ('198', 20), ('198 200', 42), ('198.0', 27), ('199', 20), ('199.0', 80), ('2', 158), ('2.0', 58), ('20', 302), ('20.0', 22), ('20/22', 51), ('200', 67), ('200.0', 14), ('201', 25), ('201.0', 8), ('202', 22), ('202 1/2', 1), ('202.0', 14), ('203', 21), ('203.0', 22), ('204', 26), ('204.0', 4), ('205', 14), ('205.0', 37), ('206', 37), ('206.0', 21), ('207', 24), ('207.0', 63), ('208', 23), ('208.0', 41), ('209', 71), ('209.0', 25), ('21', 362), ('21 Rear', 10), ('21 Rear House', 9), ('21.0', 107), ('210', 56), ('210.0', 17), ('211', 57), ('211.0', 122), ('212', 32), ('212.0', 24), ('213', 38), ('213.0', 81), ('214', 32), ('214.0', 12), ('215', 41), ('215.0', 94), ('216', 10), ('217', 14), ('217.0', 39), ('218', 27), ('218.0', 50), ('2185', 16), ('219', 62), ('219.0', 39), ('22', 238), ('22 Rear', 4), ('22.0', 52), ('220', 56), ('220.0', 45), ('221', 36), ('221.0', 98), ('222', 15), ('222.0', 142), ('2224.0', 142), ('223', 55), ('223.0', 123), ('224', 27), ('224.0', 63), ('225', 32), ('225.0', 94), ('226', 30), ('226.0', 158), ('227', 24), ('227-29', 48), ('227.0', 11), ('228', 12), ('228.0', 71), ('229', 23), ('229.0', 108), ('23', 417), ('23.0', 175), ('230', 56), ('230.0', 16), ('231', 16), ('232', 6), ('232.0', 12), ('233', 28), ('233.0', 1), ('234', 45), ('234.0', 63), ('235', 80), ('235.0', 10), ('236', 56), ('236.0', 168), ('237', 90), ('237-39', 50), ('237.0', 55), ('238', 142), ('238 Rear', 7), ('238.0', 57), ('239', 48), ('239.0', 19), ('24', 345), ('24.0', 42), ('240', 35), ('240.0', 172), ('241', 68), ('241.0', 17), ('242', 11), ('242.0', 104), ('2426', 4), ('243', 114), ('243.0', 10), ('244', 41), ('244.0', 108), ('245', 42), ('246', 37), ('246.0', 39), ('247', 96), ('247.0', 19), ('248', 8), ('248.0', 33), ('249', 72), ('249.0', 12), ('25', 352), ('25-27', 96), ('25.0', 172), ('250', 41), ('250.0', 22), ('251', 52), ('252', 12), ('252.0', 21), ('2527', 35), ('253', 21), ('253 Rear', 14), ('254', 3), ('254-61-63', 40), ('254.0', 11), ('255', 91), ('255.0', 13), ('256', 10), ('256.0', 30), ('257', 67), ('257.0', 12), ('258', 155), ('259', 194), ('259.0', 4), ('26', 416), ('26.0', 34), ('260', 35), ('260.0', 10), ('261', 33), ('261.0', 13), ('262', 34), ('262.0', 11), ('2621', 78), ('2628', 6), ('2628.0', 80), ('263', 7), ('263.0', 7), ('264', 8), ('264.0', 16), ('265', 4), ('265.0', 26), ('266', 86), ('266.0', 16), ('267', 8), ('267.0', 3), ('268', 29), ('268.0', 56), ('269', 45), ('269.0', 3), ('27', 259), ('27 1/2', 58), ('27.0', 38), ('270', 51), ('270.0', 52), ('2702', 62), ('271', 38), ('271.0', 2), ('272', 29), ('272-78', 160), ('273', 82), ('273.0', 22), ('274', 27), ('274.0', 24), ('275', 27), ('275.0', 25), ('2752', 8), ('276', 8), ('277', 36), ('277.0', 60), ('278', 27), ('279', 20), ('279.0', 8), ('28', 466), ('28 Rear', 7), ('28.0', 27), ('280', 56), ('280.0', 21), ('281', 28), ('281.0', 36), ('282', 60), ('283', 74), ('283.0', 32), ('284', 48), ('285', 89), ('285.0', 18), ('286', 35), ('287', 22), ('287-89', 23), ('287.0', 14), ('288', 49), ('288.0', 8), ('289', 19), ('29', 314), ('29 1/2', 12), ('29-24 1/2', 50), ('29-29 1/2', 65), ('29-29/2', 15), ('29.0', 54), ('290', 50), ('290 1/2', 13), ('290 3/4', 50), ('290.0', 6), ('291', 72), ('292', 14), ('292.0', 9), ('293', 23), ('293.0', 15), ('294', 29), ('294.0', 4), ('295', 11), ('295.0', 16), ('296', 145), ('297', 27), ('297.0', 5), ('298', 4), ('298.0', 8), ('299', 12), ('3', 82), ('3.0', 72), ('30', 317), ('30.0', 92), ('300', 93), ('300.0', 19), ('301', 17), ('301.0', 21), ('302', 36), ('302.0', 25), ('303', 34), ('303.0', 21), ('304', 56), ('304.0', 56), ('305', 2), ('305.0', 57), ('306', 87), ('306.0', 39), ('307', 23), ('307.0', 50), ('308', 23), ('308.0', 29), ('309', 8), ('309.0', 44), ('31', 272), ('31.0', 66), ('310', 47), ('310.0', 21), ('311', 10), ('311.0', 55), ('312', 15), ('312.0', 38), ('313', 13), ('313.0', 32), ('315.0', 89), ('316', 2), ('316.0', 54), ('317', 12), ('317.0', 40), ('318', 2), ('318.0', 33), ('319', 9), ('319.0', 66), ('32', 139), ('32-32', 25), ('32-34', 108), ('32.0', 156), ('320', 10), ('320.0', 13), ('321', 88), ('321.0', 10), ('322', 37), ('322.0', 46), ('323', 75), ('323.0', 15), ('324', 76), ('324.0', 37), ('325', 187), ('325.0', 22), ('326', 69), ('326 Rear', 23), ('326.0', 40), ('327', 65), ('327.0', 44), ('328', 73), ('328.0', 8), ('33', 328), ('33.0', 135), ('330', 35), ('330.0', 3), ('331', 21), ('331.0', 19), ('332.0', 7), ('333', 22), ('333.0', 32), ('334', 6), ('334.0', 17), ('335', 11), ('335.0', 13), ('336', 21), ('336.0', 13), ('337.0', 35), ('338', 61), ('338.0', 18), ('339.0', 32), ('34', 250), ('34.0', 156), ('340', 48), ('340.0', 31), ('341.0', 15), ('342', 8), ('342.0', 5), ('343.0', 39), ('344', 54), ('344.0', 43), ('345', 7), ('345.0', 44), ('346', 29), ('346.0', 151), ('347', 15), ('347.0', 52), ('348', 6), ('348.0', 44), ('349', 45), ('349.0', 12), ('35', 213), ('35 1/2', 6), ('35.0', 76), ('350', 46), ('350.0', 49), ('351.0', 10), ('352', 83), ('352.0', 33), ('353', 19), ('353.0', 13), ('3537', 6), ('354', 71), ('354.0', 57), ('355', 49), ('355.0', 6), ('356', 75), ('356.0', 28), ('357', 17), ('358', 6), ('358.0', 58), ('359', 16), ('359.0', 2), ('36', 194), ('36.0', 60), ('360', 5), ('360.0', 50), ('361', 19), ('361.0', 31), ('362', 14), ('362.0', 72), ('363', 7), ('363.0', 35), ('364.0', 26), ('365', 24), ('366', 6), ('367', 9), ('367.0', 29), ('368', 6), ('369', 34), ('369.0', 10), ('37', 411), ('37 1/2', 22), ('37 A', 4), ('37.0', 103), ('370', 25), ('370.0', 16), ('371', 43), ('372', 20), ('372.0', 15), ('373', 36), ('374', 15), ('374.0', 4), ('375', 16), ('376', 13), ('377', 21), ('378', 156), ('379', 32), ('38', 137), ('38.0', 95), ('380', 12), ('381', 30), ('382', 6), ('383', 10), ('384', 96), ('387', 8), ('387 1/2', 12), ('388', 21), ('389', 19), ('39', 222), ('39.0', 235), ('39/97', 6), ('390', 20), ('391', 48), ('392', 12), ('393', 17), ('394', 11), ('395', 58), ('396', 26), ('396.0', 64), ('397', 30), ('398', 14), ('398.0', 55), ('399', 10), ('4', 252), ('4 1/2', 3), ('4.0', 65), ('40', 195), ('40.0', 184), ('400', 36), ('400.0', 23), ('401', 8), ('401.0', 25), ('402', 12), ('404', 62), ('405.0', 15), ('406', 10), ('407', 16), ('407.0', 25), ('408', 24), ('409.0', 12), ('41', 170), ('41.0', 128), ('411', 25), ('411.0', 4), ('413', 32), ('413.0', 34), ('414.0', 2), ('415', 11), ('415.0', 52), ('417', 7), ('418.0', 9), ('419', 16), ('419.0', 22), ('42', 252), ('42.0', 38), ('420.0', 21), ('421.0', 13), ('422', 17), ('423.0', 66), ('424', 18), ('424.0', 10), ('426', 16), ('427', 1), ('427-9', 6), ('428', 18), ('429', 52), ('429 R', 14), ('43', 149), ('43.0', 103), ('430', 16), ('431', 5), ('4313.0', 8), ('432', 18), ('4333', 5), ('434', 16), ('435', 8), ('436', 1), ('437', 28), ('439', 85), ('44', 161), ('44.0', 49), ('440', 30), ('441', 39), ('442', 5), ('443', 48), ('444', 13), ('445', 83), ('446', 29), ('447', 83), ('448', 2), ('449', 6), ('45', 172), ('45.0', 133), ('450', 6), ('451', 7), ('452', 16), ('453', 29), ('454', 9), ('455', 6), ('456', 5), ('456 1/2', 6), ('457', 17), ('458', 6), ('459', 55), ('46', 196), ('46 Rear', 17), ('46.0', 54), ('460', 4), ('461', 6), ('466.0', 6), ('467', 9), ('468.0', 11), ('469', 9), ('47', 315), ('47-9', 2), ('47.0', 63), ('470.0', 17), ('471', 5), ('472', 73), ('472.0', 2), ('473', 4), ('474.0', 6), ('475', 20), ('476.0', 2), ('477', 6), ('478.0', 6), ('48', 190), ('48.0', 236), ('480.0', 6), ('482.0', 107), ('484.0', 48), ('486.0', 16), ('487', 4), ('489', 12), ('489.0', 9), ('49', 192), ('49.0', 169), ('490.0', 15), ('491', 14), ('491.0', 21), ('493', 9), ('493.0', 3), ('494.0', 10), ('495', 14), ('495.0', 12), ('497', 28), ('498.0', 16), ('5', 333), ('5 Rear', 8), ('5.0', 30), ('50', 237), ('50.0', 143), ('502', 4), ('503', 9), ('504.0', 22), ('505', 13), ('506.0', 21), ('507', 6), ('507.0', 18), ('508.0', 10), ('509', 3), ('51', 232), ('51.0', 15), ('51/53', 33), ('510.0', 8), ('511', 5), ('512.0', 12), ('513', 16), ('514.0', 19), ('515', 14), ('516.0', 9), ('517', 10), ('518.0', 17), ('519', 29), ('52', 173), ('52.0', 198), ('521', 61), ('522', 6), ('522.0', 18), ('523', 65), ('524.0', 11), ('525', 64), ('526.0', 21), ('527', 36), ('528.0', 12), ('529', 5), ('53', 398), ('53.0', 46), ('530', 2), ('530.0', 10), ('531', 55), ('532.0', 14), ('533', 1), ('535', 14), ('536.0', 10), ('537', 27), ('539', 19), ('539 1/2', 2), ('539.0', 15), ('54', 27), ('54.0', 114), ('540', 10), ('540.0', 9), ('541', 33), ('543', 2), ('544', 27), ('544 Rear', 5), ('545', 14), ('546', 15), ('546.0', 7), ('547', 35), ('548', 10), ('548 0/2', 2), ('55', 379), ('55 1/2', 5), ('55.0', 53), ('550', 18), ('551', 83), ('555', 11), ('5551', 13), ('556', 10), ('557', 11), ('558', 16), ('559', 7), ('56', 149), ('56.0', 158), ('560', 13), ('561', 18), ('562', 28), ('564', 19), ('566', 14), ('57', 228), ('57-59', 34), ('57.0', 37), ('570', 9), ('571', 21), ('572', 5), ('575', 29), ('576.0', 7), ('577', 22), ('579', 31), ('58', 91), ('58 Rear', 10), ('58.0', 126), ('581', 25), ('587', 18), ('59', 49), ('59.0', 9), ('591', 14), ('591 Rear', 13), ('593', 15), ('593 Rear', 24), ('594', 8), ('594 Rear', 8), ('595', 15), ('595 Rear', 29), ('596', 4), ('597.0', 32), ('598', 6), ('599.0', 13), ('6', 231), ('6.0', 53), ('60', 97), ('60.0', 195), ('601', 21), ('601.0', 39), ('6020', 9), ('603.0', 18), ('604', 3), ('605.0', 92), ('606', 9), ('607.0', 72), ('608', 17), ('608.0', 11), ('61', 119), ('61.0', 9), ('611', 6), ('612', 22), ('613', 70), ('613.0', 9), ('614', 2), ('615', 14), ('615.0', 30), ('616', 58), ('617', 1), ('617.0', 22), ('618', 23), ('619', 6), ('619.0', 11), ('62', 35), ('62.0', 230), ('620', 16), ('621', 8), ('622', 72), ('623', 18), ('624', 51), ('625', 33), ('626', 86), ('627', 10), ('627.0', 16), ('628', 15), ('629', 23), ('629.0', 15), ('63', 173), ('63.0', 36), ('630', 43), ('631', 10), ('631.0', 65), ('632', 5), ('633', 8), ('633.0', 15), ('634', 15), ('635', 109), ('636', 23), ('638', 24), ('639.0', 11), ('64', 249), ('64.0', 222), ('640', 9), ('641.0', 3), ('642', 34), ('643', 9), ('643.0', 23), ('644', 20), ('645', 9), ('645.0', 11), ('646', 10), ('647', 18), ('647.0', 15), ('648', 30), ('649', 10), ('65', 42), ('65.0', 138), ('650', 5), ('651', 23), ('6517', 38), ('652', 88), ('653', 20), ('654', 27), ('655', 36), ('657', 10), ('659', 59), ('66', 44), ('66 1/2', 1), ('66.0', 117), ('661', 69), ('663', 20), ('664', 2), ('665', 19), ('666.0', 15), ('667', 14), ('668.0', 20), ('669', 16), ('67', 190), ('67 1/2', 20), ('67.0', 114), ('670.0', 22), ('671', 8), ('672.0', 24), ('673', 12), ('675', 19), ('678.0', 15), ('68', 110), ('68.0', 98), ('680.0', 23), ('681', 25), ('682.0', 10), ('684', 5), ('684.0', 13), ('685', 1), ('687', 28), ('688', 15), ('689', 21), ('689.0', 13), ('69', 169), ('69 Rear', 27), ('69.0', 145), ('691', 36), ('692.0', 13), ('693', 32), ('696', 13), ('696.0', 12), ('698', 15), ('698.0', 11), ('7', 333), ('7 1/2', 4), ('7 Rear', 14), ('7.0', 31), ('7/12', 2), ('7/9', 70), ('70', 162), ('70.0', 112), ('700.0', 8), ('702', 24), ('703', 10), ('704.0', 129), ('705', 10), ('707', 47), ('708.0', 19), ('709', 36), ('71', 164), ('71.0', 48), ('710.0', 19), ('711', 18), ('712', 5), ('712.0', 2), ('713', 32), ('714', 50), ('714.0', 13), ('715', 40), ('716.0', 17), ('717', 15), ('72', 122), ('72-74', 56), ('72.0', 80), ('7219', 20), ('722', 171), ('723', 16), ('723 725', 7), ('724', 33), ('725', 15), ('726', 42), ('727', 6), ('729', 30), ('729 Rear', 41), ('73', 220), ('73.0', 71), ('731', 37), ('734', 7), ('735', 15), ('737', 19), ('739', 23), ('74', 65), ('74 1/2', 4), ('74.0', 64), ('740', 40), ('741', 20), ('742', 57), ('743', 22), ('744', 33), ('745', 13), ('746', 5), ('747', 39), ('748', 3), ('749', 31), ('749.0', 6), ('75', 195), ('75 1/2', 11), ('75.0', 206), ('750', 1), ('751', 18), ('752', 13), ('7527', 50), ('754', 13), ('755', 10), ('756', 23), ('757', 60), ('758', 3), ('759', 53), ('76', 51), ('76.0', 462), ('760', 12), ('761', 59), ('762', 11), ('763', 70), ('764', 17), ('765', 22), ('766', 7), ('767', 14), ('768', 9), ('769', 1), ('77', 223), ('77 R', 6), ('77.0', 134), ('771.0', 1), ('772', 5), ('772.0', 10), ('774', 13), ('774.0', 10), ('776', 27), ('776.0', 16), ('777.0', 20), ('778', 57), ('778.0', 9), ('779.0', 10), ('78', 37), ('78.0', 84), ('780', 15), ('780.0', 44), ('781', 5), ('781.0', 22), ('782', 1), ('784', 68), ('786', 4), ('787.0', 47), ('788', 12), ('788.0', 22), ('7880', 14), ('789', 17), ('789.0', 77), ('79', 88), ('79 Rear', 4), ('79.0', 74), ('790.0', 16), ('791.0', 109), ('793.0', 46), ('795.0', 8), ('796.0', 13), ('798.0', 22), ('8', 284), ('8.0', 142), ('8/12', 1), ('80', 125), ('80.0', 131), ('80/82', 7), ('802', 3), ('802.0', 13), ('803.0', 33), ('804.0', 18), ('805.0', 17), ('806.0', 27), ('807.0', 3), ('808.0', 2), ('809.0', 70), ('81', 95), ('81.0', 110), ('810.0', 14), ('811.0', 35), ('812.0', 13), ('813.0', 37), ('814.0', 18), ('815.0', 39), ('816.0', 14), ('817.0', 30), ('818.0', 17), ('819.0', 8), ('82', 10), ('82.0', 150), ('824.0', 15), ('826', 43), ('826.0', 2), ('828.0', 13), ('83', 44), ('83.0', 45), ('830.0', 24), ('832.0', 11), ('834.0', 32), ('835.0', 34), ('836.0', 37), ('84', 25), ('84.0', 152), ('841', 29), ('842.0', 57), ('843', 16), ('844.0', 49), ('846', 41), ('85', 105), ('85.0', 79), ('851', 2), ('86', 59), ('86.0', 148), ('860.0', 1), ('863.0', 7), ('865.0', 4), ('866', 20), ('87', 46), ('87.0', 92), ('872', 25), ('88', 21), ('88.0', 156), ('89', 27), ('89.0', 112), ('891', 46), ('897', 38), ('9', 299), ('9 1/2', 1), ('9.0', 76), ('90', 35), ('90.0', 115), ('90/98', 58), ('902', 30), ('91', 37), ('91.0', 159), ('911', 3), ('912.0', 10), ('92', 47), ('92.0', 116), ('93', 81), ('93.0', 80), ('94', 50), ('94.0', 51), ('946', 20), ('95', 65), ('95.0', 48), ('96', 27), ('96.0', 141), ('96/98', 10), ('97', 78), ('97.0', 13), ('98', 65), ('98.0', 48), ('99', 79), ('99 Rear', 9), ('99.0', 19), ('993.0', 9), ('Boat', 36), ('Rear', 33)
}

In [17]:
df = df.replace({'num_clean': NUMBER})
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Can Write,Attended School,Own or Rent,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,Deaf and Dumb,street_clean,num_clean
0,4449800_00423,18500383,Margaret Dow,18500383,West Houston Street,279,1.0,1.0,Dow,Head,...,Yes,NaN,Rent,NaN,House,NaN,NaN,NaN,W Houston St,279

geocoding with `qGIS`'s `MMQGIS` requires four columns: `Address`, `City`, `State`, `Country`

In [27]:
df['Address'] = df['num_clean'].astype(str) + ' ' + df['street_clean']
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Can Write,Attended School,Own or Rent,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,street_clean,num_clean,Address
0,31776_4449715-00931,18527185,Mamie Rodgers,18527185,Barrow St,51,4,24,Rodgers,Wife,...,Yes,NaN,NaN,NaN,NaN,NaN,NaN,Barrow Street,51,51 Barrow Street

In [28]:
df['City'] = 'New York City'
df['State'] = 'New York'
df['Country'] = 'United States'
df.head(1)

,DataID,RecordId,Name,HouseHoldId,Street Name,House Number,Dwelling Number,Family Number,Surname,Relationship,...,Home owned,Farm or House,Survivor of Confederate or Union of Army or Navy,Blind,street_clean,num_clean,Address,City,State,Country
0,31776_4449715-00931,18527185,Mamie Rodgers,18527185,Barrow St,51,4,24,Rodgers,Wife,...,NaN,NaN,NaN,NaN,Barrow Street,51,51 Barrow Street,New York City,New York,United States

In [29]:
#df.to_csv('cleaned/ward8_1910_CLEANED.csv')